## Georeferenciando Alvarás

### Acessando os dados de Alvará

In [1]:
import pandas as pd

In [2]:
import glob
import numpy as np

In [3]:
%load_ext autotime

In [4]:
df_alv = pd.read_csv('data/anual2018dezembro.csv', encoding='latin1', sep=';', decimal=",")

time: 104 ms

In [5]:
## Abre o CSV normalizado
import csv
colunas = {}

with open('resultados/colunas_planilhas_normalizada.csv', newline='') as f:
    reader = csv.reader(f, delimiter=';')
    data = list(reader)

## carrega em um Dicionário de nome de arquivo, contendo as colunas
# [colunas[l[0]] = l[1:] for l in data]

for l in data:
    colunas[l[0]] = l[1:]

colunas

{'data/anual2004.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2008.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2012.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2016.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2003.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Categoria de uso 1',
  'Categoria de uso 2',
  'Categoria de uso 3',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Área do terreno',
  'Remover: AREAEXIST',
  'Remover: AREAAAUM',
  'Remover: AREADIM',
  'Remover: AREAMODI',
  'Remover: AREAAUTO',
  'Proprietário',
  'Endereço',
  'Endereço 1',
  'Endereço 2',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Remover: SEQUENCIA',
  'Processo',
  'Remover: IDENT',
  'Remover: ESPACO',
  'Remover: CODDOCU',
  'Remover: CODADTV',
  'Data autuação'],
 'data/anual2018dezembro.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2010.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2011.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 20',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2017dezembro.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2014.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2009.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2007.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2006.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2005.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2015.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2013.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2002---a-partir-de-abril.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35']}

time: 19.1 ms

In [6]:
# path = r'C:\DRO\DCL_rawdata_files' # use your path
all_files = glob.glob("data/*.csv")

li = []

for filename in all_files:
    print(filename)
    df = pd.read_csv(filename, encoding='latin1', 
                     sep=';', 
                     decimal=",", 
                     header=None, 
                     names=colunas[filename],
                     skiprows=[0])
#     li.append({"arquivo": filename,
#                "headers": list(df.columns)})
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

data/anual2004.csv
data/anual2008.csv
data/anual2012.csv
data/anual2016.csv
data/anual2003.csv
data/anual2018dezembro.csv
data/anual2010.csv
data/anual2011.csv
data/anual2017dezembro.csv
data/anual2014.csv
data/anual2009.csv
data/anual2007.csv
data/anual2006.csv
data/anual2005.csv
data/anual2015.csv
data/anual2013.csv
data/anual2002---a-partir-de-abril.csv
time: 757 ms

In [7]:
frame = pd.concat(li, axis=0, ignore_index=True)

time: 68.2 ms

In [8]:
frame.drop(columns=list(frame.loc[:, frame.columns.str.startswith('Remover:')]), inplace=True)

time: 53.9 ms

In [9]:
frame.drop(columns=list(frame.loc[:, frame.columns.str.startswith('Unnamed:')]), inplace=True)

time: 15.9 ms

In [10]:
df_alv = frame

## TODO --> Entender cada campo em cada ano de CSV :(

time: 715 µs

In [11]:
df_alv.columns

Index(['Mês', 'Unidade', 'Subprefeitura', 'Alvará', 'Descrição',
       'Tipo de Construção', 'SQL_Incra', 'Categoria de uso',
       'Zona de uso atual', 'Bairro', 'Área da construção', 'Proprietário',
       'Área do terreno', 'Endereço', 'Aprovação', 'Dirigente técnico',
       'Responsável pela empresa', 'Autor do projeto',
       'Responsável pela empresa 1', 'Blocos', 'Unidades', 'Pavimentos',
       'Processo', 'Zona de uso anterior',
       '(B)locos / (P)avimentos / (U)nidades', 'Data autuação',
       'Categoria de uso 1', 'Categoria de uso 2', 'Categoria de uso 3',
       'Endereço 1', 'Endereço 2'],
      dtype='object')

time: 1.69 ms

In [12]:
df_alv.SQL_Incra.unique()

array(['00.055.114.0001-7', '00.230.133.0004-1', '00.230.133.0001-7', ...,
       '00.047.175.0012-1', '00.037.083.0584-1', '1542629999999'],
      dtype=object)

time: 33.8 ms

In [13]:
df_alv.drop(columns=['Mês'], inplace=True)

time: 19 ms

In [14]:
df_alv['Data autuação'] = pd.to_datetime(df_alv['Data autuação'], format='%d/%m/%Y', errors='coerce')

time: 20.2 ms

In [15]:
df_alv['Endereço'] = df_alv['Endereço'].str.cat([df_alv['Endereço 1'], df_alv['Endereço 2']], sep=' ', na_rep='')

time: 21.9 ms

In [16]:
df_alv.drop(columns=['Endereço 2', 'Endereço 1'], inplace=True)

time: 9.39 ms

In [17]:
df_alv['Responsável pela empresa'] = df_alv['Responsável pela empresa'].str.cat(df_alv['Responsável pela empresa 1'], sep=' / ', na_rep='')

time: 7.97 ms

In [18]:
df_alv.drop(columns=['Responsável pela empresa 1'], inplace=True)

time: 8.33 ms

In [19]:
df_alv['Categoria de uso'] = df_alv['Categoria de uso'].str.cat([df_alv['Categoria de uso 1'], df_alv['Categoria de uso 2'], df_alv['Categoria de uso 3']], sep=' / ', na_rep='')

time: 22.8 ms

In [20]:
df_alv.drop(columns=['Categoria de uso 1', 'Categoria de uso 2', 'Categoria de uso 3'], inplace=True)

time: 10.9 ms

In [21]:
df_alv.columns

Index(['Unidade', 'Subprefeitura', 'Alvará', 'Descrição', 'Tipo de Construção',
       'SQL_Incra', 'Categoria de uso', 'Zona de uso atual', 'Bairro',
       'Área da construção', 'Proprietário', 'Área do terreno', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Blocos', 'Unidades', 'Pavimentos', 'Processo',
       'Zona de uso anterior', '(B)locos / (P)avimentos / (U)nidades',
       'Data autuação'],
      dtype='object')

time: 7.83 ms

In [22]:
# df_alv.loc[df_alv.SQL_Incra == '059.268.0042-0']

time: 436 µs

### Tratando e limpando dados

In [23]:
df_alv = df_alv.dropna(thresh=10)

time: 49 ms

In [24]:
df_alv.columns

Index(['Unidade', 'Subprefeitura', 'Alvará', 'Descrição', 'Tipo de Construção',
       'SQL_Incra', 'Categoria de uso', 'Zona de uso atual', 'Bairro',
       'Área da construção', 'Proprietário', 'Área do terreno', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Blocos', 'Unidades', 'Pavimentos', 'Processo',
       'Zona de uso anterior', '(B)locos / (P)avimentos / (U)nidades',
       'Data autuação'],
      dtype='object')

time: 2.55 ms

In [25]:
df_alv.loc[:, ['Área da construção']] = pd.to_numeric(df_alv[df_alv['Área da construção']
                                                               .notna()]['Área da construção']
                                                        .str.replace('.', '')
                                                        .str.replace(',', '.'))

df_alv.loc[:, ['Área do terreno']] = pd.to_numeric(df_alv[df_alv['Área do terreno']
                                                               .notna()]['Área do terreno']
                                                        .str.replace('.', '')
                                                        .str.replace(',', '.'))

time: 144 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [26]:
# df_alv.drop(['Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'], axis=1, inplace=True)

time: 198 µs

In [27]:
## Converte registros com 11 caracteres para formato S.Q.L
df_alv.update(df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[0:3] + '.' + 
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[3:6] + '.' + 
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[6:10] + '-' +
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[10])

time: 220 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/pandas/core/frame.py:5732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = expressions.where(mask, this, that)

In [28]:
df_alv.columns

Index(['Unidade', 'Subprefeitura', 'Alvará', 'Descrição', 'Tipo de Construção',
       'SQL_Incra', 'Categoria de uso', 'Zona de uso atual', 'Bairro',
       'Área da construção', 'Proprietário', 'Área do terreno', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Blocos', 'Unidades', 'Pavimentos', 'Processo',
       'Zona de uso anterior', '(B)locos / (P)avimentos / (U)nidades',
       'Data autuação'],
      dtype='object')

time: 2.38 ms

In [29]:
df_alv[df_alv.SQL_Incra.isna()]['Endereço']

8429          AV  INTERLAGOS 05937
8430          R   DOMINGOS VEGA 47
8431     AV  TERESA CRISTINA 00210
8432           AV  ITAQUERA 001968
8433       AV  LUIS STAMATIS 00656
                     ...
12499     ES  DO CAMPO LIMPO 00288
12500      R   PADRE ADELINO 99999
12501       R   PURPURINA 00396 400
12502           R   HARMONIA 01250
12503            AL  SANTOS 001165
Name: Endereço, Length: 4075, dtype: object

time: 5.87 ms

In [30]:
df_alv.loc[:, ['SQL_Incra']] = df_alv['SQL_Incra'].fillna('')

time: 5.95 ms

### Verificando SQLs condominiais com o IPTU

In [31]:
df_alv[df_alv.SQL_Incra.str.match(pat = '(\d{3}.){2}\d{4}-\d')]

,Unidade,Subprefeitura,Alvará,Descrição,Tipo de Construção,SQL_Incra,Categoria de uso,Zona de uso atual,Bairro,Área da construção,...,Dirigente técnico,Responsável pela empresa,Autor do projeto,Blocos,Unidades,Pavimentos,Processo,Zona de uso anterior,(B)locos / (P)avimentos / (U)nidades,Data autuação
4272,SEHAB/APROV/G,ARICANDUVA/ FORMOSA/ CARRAO,2011.16.116-01,APOSTILAMENTO DE ALVARA DE EXECUCAO DE EDIFICA...,NaN,116.402.0004-4,H.M.P / / /,ZM-3A,VL. FORMOSA,NaN,...,FERNANDO ALBERTO POZETTI,/,RUI KIYOSHI ISHIKAWA,NaN,NaN,NaN,NaN,Z2.,NaN,NaT
4273,SEHAB/APROV/G,ARICANDUVA/ FORMOSA/ CARRAO,2011.52.080-01,APOSTILAMENTO DE ALVARA DE APROVACAO DE EDIFIC...,NaN,054.158.0014-1,H.M.P / / /,ZM-3A,VILA FORMOSA,8417.91,...,NaN,/,NaN,NaN,NaN,NaN,NaN,Z2.,B: 1 P: 19 U: 72,NaT
4274,SEHAB/APROV/G,BUTANTA,2009.43.232-01,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,NaN,159.088.0166-5,HIS / / /,ZM-P/002,BUTANTA,17.14,...,NaN,/,NaN,NaN,NaN,NaN,NaN,Z2.,B: 1 P: 1 U: 0,NaT
4275,SEHAB/APROV/G,BUTANTA,2010.30.871-01,APOSTILAMENTO DE ALVARA DE EXECUCAO DE EDIFICA...,NaN,101.557.0154-0,H.M.P / / /,ZM-2/004,RIO PEQUENO,NaN,...,FABIO BUZANIN DE MIRANDA,/,NaN,NaN,NaN,NaN,NaN,,NaN,NaT
4276,SEHAB/APROV/G,BUTANTA,2010.30.871-02,APOSTILAMENTO DE ALVARA DE EXECUCAO DE EDIFICA...,NaN,101.557.0154-0,H.M.P / / /,ZM-2/004,RIO PEQUENO,NaN,...,NaN,/,NaN,NaN,NaN,NaN,NaN,,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53745,SGM/AJ,PERUS,2013.32.379-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,187.046.0034-6,R; C1 / / /,NaN,PERUS,NaN,...,MARIO ALEXANDER STEINHAUSER,/,NaN,NaN,NaN,NaN,2003-1.039.534-4,Z9-045.,NaN,NaT
53746,SGM/AJ,SE,2013.31.386-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,019.046.0012-3,C2.3 / / /,NaN,BOM RETIRO,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.039.766-5,,NaN,NaT
53747,SGM/AJ,SE,2013.31.937-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,009.035.0010-8,C1.2; S1.1 / / /,NaN,BELA VISTA,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.009.227-9,Z10-001.,NaN,NaT
53748,SGM/AJ,SE,2013.33.074-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,001.020.0006-9,C2.2 / / /,NaN,SANTA EFIGENIA,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.002.595-4,Z2.,NaN,NaT
53749,SGM/AJ,VILA MARIANA,2013.33.733-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,037.099.0044-1,S2.1 / / /,NaN,VILA MARIANA,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.016.932-8,Z2.,NaN,NaT

time: 101 ms

In [32]:
match_00 = df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-\d')

time: 46.9 ms

In [33]:
df_alv.loc[match_00, ['SQL_Incra']] = df_alv[match_00]['SQL_Incra'].str[3:]

time: 25.8 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [34]:
match_00 = df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-')

time: 48.8 ms

In [35]:
df_alv.loc[match_00, ['SQL_Incra']] = df_alv[match_00]['SQL_Incra'].str[3:]+'0'

time: 26.5 ms

In [36]:
# df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-\d').value_counts()
# df_alv['SQL_Incra'] = df_alv[df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-\d')].SQL_Incra.str[3:]

time: 777 µs

In [37]:
# verificando padrão de S.Q.L-digito
df_alv['sql'] = df_alv[df_alv.SQL_Incra.str.match(pat = '(\d{3}.){2}\d{4}-\d')].SQL_Incra.str.replace('.', '').str[0:10]

time: 96.2 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
df_alv['SQL_Incra']

0        055.114.0001-7
1        230.133.0004-1
2        230.133.0001-7
3        066.587.0027-3
4        031.096.0035-8
              ...
56178    069.022.0009-2
56179    047.175.0012-1
56180    047.175.0012-1
56181    037.083.0584-1
56182     1542629999999
Name: SQL_Incra, Length: 55476, dtype: object

time: 2.73 ms

In [39]:
df_alv.sql.notna().value_counts()

True     49786
False     5690
Name: sql, dtype: int64

time: 24.3 ms

In [40]:
len(df_alv.sql.unique())

27066

time: 12 ms

In [41]:
df_iptu = pd.read_csv('data/IPTU_2020.zip', sep=';',  encoding='latin1')

time: 17.7 s

In [42]:
df_iptu['sql'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:10].astype(str)

time: 1.05 s

In [43]:
df_iptu['sqlc'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:10].astype(str) + df_iptu['NUMERO DO CONDOMINIO'].str[0:2].astype(str)

time: 2.29 s

In [62]:
df_iptu['sqlc_resultante'] = df_iptu.sqlc.apply(lambda x: x if x[10:12] == '00' else x[0:6] + '0000' + x[10:12])

time: 963 ms

In [63]:
df_iptu.columns

Index(['NUMERO DO CONTRIBUINTE', 'ANO DO EXERCICIO', 'NUMERO DA NL',
       'DATA DO CADASTRAMENTO', 'TIPO DE CONTRIBUINTE 1',
       'CPF/CNPJ DO CONTRIBUINTE 1', 'NOME DO CONTRIBUINTE 1',
       'TIPO DE CONTRIBUINTE 2', 'CPF/CNPJ DO CONTRIBUINTE 2',
       'NOME DO CONTRIBUINTE 2', 'NUMERO DO CONDOMINIO', 'CODLOG DO IMOVEL',
       'NOME DE LOGRADOURO DO IMOVEL', 'NUMERO DO IMOVEL',
       'COMPLEMENTO DO IMOVEL', 'BAIRRO DO IMOVEL', 'REFERENCIA DO IMOVEL',
       'CEP DO IMOVEL', 'QUANTIDADE DE ESQUINAS/FRENTES', 'FRACAO IDEAL',
       'AREA DO TERRENO', 'AREA CONSTRUIDA', 'AREA OCUPADA',
       'VALOR DO M2 DO TERRENO', 'VALOR DO M2 DE CONSTRUCAO',
       'ANO DA CONSTRUCAO CORRIGIDO', 'QUANTIDADE DE PAVIMENTOS',
       'TESTADA PARA CALCULO', 'TIPO DE USO DO IMOVEL',
       'TIPO DE PADRAO DA CONSTRUCAO', 'TIPO DE TERRENO',
       'FATOR DE OBSOLESCENCIA', 'ANO DE INICIO DA VIDA DO CONTRIBUINTE',
       'MES DE INICIO DA VIDA DO CONTRIBUINTE', 'FASE DO CONTRIBUINTE', 'sql',
       'sqlc', 'sqlc_resultante', 'abacaxi'],
      dtype='object')

time: 2.02 ms

In [64]:
df_alv['sql'].isin(df_iptu.sql).value_counts()
# df_iptu['sql']

False    27799
True     27677
Name: sql, dtype: int64

time: 873 ms

In [65]:
len(df_alv['sql'].unique())

27066

time: 5.62 ms

In [66]:
len(df_alv[df_alv.sql.isin(df_iptu.sql)].sql.unique())

15783

time: 871 ms

In [67]:
df_alv.sql.isna().value_counts()

False    49786
True      5690
Name: sql, dtype: int64

time: 4.82 ms

In [68]:
df_alv[df_alv.sql.isna()][['Endereço', 'Bairro']]

                                 Endereço      Bairro
82              R AGRIMENSOR SUGAYA,968           NaN
191    AV RAIMUNDO PEREIRA DE MAGALHAES           NaN
680                  ES DO PESSEGO,1635           NaN
706                 AV DA LIBERDADE,103     LIBERDADE
908        ES TURISTICA DO JARAGUA,2400       JARAGUA
...                                   ...         ...
55097               R RAPOSO DA FONSECA    GUAIANAZES
55127                    ES DO IGUATEMI    GUAIANAZES
55403                 R INACIO MONTEIRO    GUAIANASES
55663                  R SAO GABRIEL,43           NaN
56182              R POEMA DAS AMERICAS           NaN

[5690 rows x 2 columns]

time: 12.2 ms

In [69]:
(df_iptu[df_iptu.sql.isin(df_alv.sql)]['NUMERO DO CONDOMINIO'] != '00-0').value_counts()
# df_iptu.columns

False    13691
True      2092
Name: NUMERO DO CONDOMINIO, dtype: int64

time: 1.76 s

In [70]:
df_iptu[df_iptu.sql == '0551140032']

,NUMERO DO CONTRIBUINTE,ANO DO EXERCICIO,NUMERO DA NL,DATA DO CADASTRAMENTO,TIPO DE CONTRIBUINTE 1,CPF/CNPJ DO CONTRIBUINTE 1,NOME DO CONTRIBUINTE 1,TIPO DE CONTRIBUINTE 2,CPF/CNPJ DO CONTRIBUINTE 2,NOME DO CONTRIBUINTE 2,...,TIPO DE PADRAO DA CONSTRUCAO,TIPO DE TERRENO,FATOR DE OBSOLESCENCIA,ANO DE INICIO DA VIDA DO CONTRIBUINTE,MES DE INICIO DA VIDA DO CONTRIBUINTE,FASE DO CONTRIBUINTE,sql,sqlc,sqlc_resultante,abacaxi
1127484,0551140032-7,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX0018XXXX,MARCELO MANOEL MACHADO,NaN,,NaN,...,Residencial vertical - padrão C,De esquina,"0,70",1991,1,0,0551140032,055114003201,055114000001,055114000001

time: 203 ms

In [147]:
df_alv = df_alv.reset_index(drop=True)

time: 11.2 ms

In [148]:
# df_alv['sqlc'] = df_alv.merge(df_iptu, how='left', on='sql')['sqlc_resultante']
# df_alv[df_alv.sql == '0412140032']
teste = df_alv.merge(df_iptu, how='left', on='sql', validate='many_to_one')[['sql','sqlc_resultante']]

time: 8.17 s

In [149]:
# pd.concat([teste, df_alv], axis=1)
df_alv['sqlc'] = teste.sqlc_resultante

time: 3.24 ms

In [150]:
df_alv[df_alv.sql == '0551140001']

,Unidade,Subprefeitura,Alvará,Descrição,Tipo de Construção,SQL_Incra,Categoria de uso,Zona de uso atual,Bairro,Área da construção,...,Autor do projeto,Blocos,Unidades,Pavimentos,Processo,Zona de uso anterior,(B)locos / (P)avimentos / (U)nidades,Data autuação,sql,sqlc
0,APROV G,ARICANDUVA / VILA FORMOSA,2004.02.459-00,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,PREDIO RESIDENCIAL,055.114.0001-7,R202 / / /,Z3-130,NaN,1422492.0,...,VERA LUCIA ESTANQUEIRO NONNO,001 - 001,054 - 054,15 - 15,NaN,NaN,NaN,NaT,0551140001,NaN
372,APROV 1,ARICANDUVA / VILA FORMOSA,2004.02.459-01,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,PREDIO RESIDENCIAL,055.114.0001-7,R202 / / /,Z3-130,VILA CARRAO,1422492.0,...,NaN,001 - 001,056 - 056,15 - 15,NaN,NaN,NaN,NaT,0551140001,NaN
41109,APROV 1,ARICANDUVA / VILA FORMOSA,2004.02.459-02,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,PREDIO RESIDENCIAL,055.114.0001-7,R301 / / /,Z3-130,VILA CARRAO,1468787.0,...,UNIARQ ARQUITETURA LTDA,001 - 001,056 - 056,15 - 15,NaN,NaN,NaN,NaT,0551140001,NaN

time: 36.5 ms

In [152]:
# df_alv.iloc[41815]

time: 193 µs

In [153]:
df_alv[(df_alv.sql.str[0:6] != df_alv.sqlc.str[0:6]) & df_alv.sqlc.notna()]
# df_alv

Empty DataFrame
Columns: [Unidade, Subprefeitura, Alvará, Descrição, Tipo de Construção, SQL_Incra, Categoria de uso, Zona de uso atual, Bairro, Área da construção, Proprietário, Área do terreno, Endereço, Aprovação, Dirigente técnico, Responsável pela empresa, Autor do projeto, Blocos, Unidades, Pavimentos, Processo, Zona de uso anterior, (B)locos / (P)avimentos / (U)nidades, Data autuação, sql, sqlc]
Index: []

[0 rows x 26 columns]

time: 51.7 ms

In [154]:
df_iptu.sql.isna().value_counts()

False    3498644
Name: sql, dtype: int64

time: 134 ms

In [155]:
df_alv.sqlc.notna().value_counts()

False    27799
True     27677
Name: sqlc, dtype: int64

time: 15.8 ms

In [156]:
df_alv['setor'] = df_alv.sql.str[0:3]

time: 23.2 ms

In [157]:
df_alv['quadra'] = df_alv.sql.str[3:6]

time: 15.7 ms

In [158]:
df_alv['lote'] = df_alv.sqlc.str[-6:-2]

time: 29.5 ms

In [159]:
df_alv['condominio'] = df_alv.sqlc.str[-2:]

time: 19.1 ms

In [164]:
# df_alv[df_alv.sqlc.notna() & (df_alv.condominio != '00')]

time: 588 µs

In [166]:
# df_alv[df_alv.lote == '0000']

time: 607 µs

### Convertendo em GeoDataframe

In [ ]:
df_alv

In [ ]:
df_alv.to_csv('resultados/resulatado-parcial-01.csv')

In [ ]:
df_alv.dtypes

### Relacionando espacialmente

In [ ]:
from owslib.wfs import WebFeatureService
from owslib.csw import CatalogueServiceWeb
import json
import geopandas as gpd
from shapely.geometry import shape
from urllib.parse import quote

In [ ]:
url_wfs = 'http://wfs.geosampa.prefeitura.sp.gov.br/geoserver/geoportal/wfs'

wfs = WebFeatureService(url_wfs, version='2.0.0')

In [ ]:
# list(wfs.operations)
# wfs.contents

In [ ]:
response = wfs.getfeature(typename="geoportal:quadra_fiscal", 
                          outputFormat='application/json')

In [ ]:
quadras_fiscais = json.loads(response.read())

In [ ]:
len(quadras_fiscais['features'])

In [ ]:
response = wfs.getfeature(typename="geoportal:lote", 
                          outputFormat='application/json')

In [ ]:
sqls_s = list(df_alv[df_alv.sql.notna()].sql.unique())

In [ ]:
sqls = [(s[0:3], s[3:6], s[6:10]) for s in sqls_s]

In [ ]:
sqls

In [ ]:
n = 500  #chunk row size
sql_chunk = [sqls[i:i+n] for i in range(0, len(sqls), n)]

In [ ]:
len(sql_chunk)

In [ ]:
cql_string = ' OR '.join([f"(cd_setor_fiscal='{s[0]}' and cd_quadra_fiscal='{s[1]}' and cd_lote='{s[2]}')" for s in sqls])

In [ ]:
# cql_string

### Tratando refugo não localizado