## Georeferenciando Alvarás

### Acessando os dados de Alvará

In [94]:
import pandas as pd

time: 984 µs

In [95]:
import glob
import numpy as np

time: 584 µs

In [96]:
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 974 µs

In [97]:
df_alv = pd.read_csv('data/anual2018dezembro.csv', encoding='latin1', sep=';', decimal=",")

time: 33.6 ms

In [98]:
## Abre o CSV normalizado
import csv
colunas = {}

with open('resultados/colunas_planilhas_normalizada.csv', newline='') as f:
    reader = csv.reader(f, delimiter=';')
    data = list(reader)

## carrega em um Dicionário de nome de arquivo, contendo as colunas
# [colunas[l[0]] = l[1:] for l in data]

for l in data:
    colunas[l[0]] = l[1:]

colunas

{'data/anual2004.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2008.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2012.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2016.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2003.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Categoria de uso 1',
  'Categoria de uso 2',
  'Categoria de uso 3',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Área do terreno',
  'Remover: AREAEXIST',
  'Remover: AREAAAUM',
  'Remover: AREADIM',
  'Remover: AREAMODI',
  'Remover: AREAAUTO',
  'Proprietário',
  'Endereço',
  'Endereço 1',
  'Endereço 2',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Remover: SEQUENCIA',
  'Processo',
  'Remover: IDENT',
  'Remover: ESPACO',
  'Remover: CODDOCU',
  'Remover: CODADTV',
  'Data autuação'],
 'data/anual2018dezembro.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2010.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2011.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 20',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2017dezembro.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2014.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2009.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2007.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2006.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2005.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2015.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2013.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2002---a-partir-de-abril.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35']}

time: 9.49 ms

In [99]:
# path = r'C:\DRO\DCL_rawdata_files' # use your path
all_files = glob.glob("data/*.csv")

li = []

for filename in all_files:
    print(filename)
    df = pd.read_csv(filename, encoding='latin1', 
                     sep=';', 
                     decimal=",", 
                     header=None, 
                     names=colunas[filename],
                     skiprows=[0])
#     li.append({"arquivo": filename,
#                "headers": list(df.columns)})
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

data/anual2004.csv
data/anual2008.csv
data/anual2012.csv
data/anual2016.csv
data/anual2003.csv
data/anual2018dezembro.csv
data/anual2010.csv
data/anual2011.csv
data/anual2017dezembro.csv
data/anual2014.csv
data/anual2009.csv
data/anual2007.csv
data/anual2006.csv
data/anual2005.csv
data/anual2015.csv
data/anual2013.csv
data/anual2002---a-partir-de-abril.csv
time: 2.49 s

In [100]:
frame = pd.concat(li, axis=0, ignore_index=True)

time: 63.8 ms

In [101]:
frame.drop(columns=list(frame.loc[:, frame.columns.str.startswith('Remover:')]), inplace=True)

time: 63.2 ms

In [102]:
frame.drop(columns=list(frame.loc[:, frame.columns.str.startswith('Unnamed:')]), inplace=True)

time: 22.4 ms

In [103]:
df_alv = frame

## TODO --> Entender cada campo em cada ano de CSV :(

time: 1.08 ms

In [104]:
df_alv.columns

Index(['Mês', 'Unidade', 'Subprefeitura', 'Alvará', 'Descrição',
       'Tipo de Construção', 'SQL_Incra', 'Categoria de uso',
       'Zona de uso atual', 'Bairro', 'Área da construção', 'Proprietário',
       'Área do terreno', 'Endereço', 'Aprovação', 'Dirigente técnico',
       'Responsável pela empresa', 'Autor do projeto',
       'Responsável pela empresa 1', 'Blocos', 'Unidades', 'Pavimentos',
       'Processo', 'Zona de uso anterior',
       '(B)locos / (P)avimentos / (U)nidades', 'Data autuação',
       'Categoria de uso 1', 'Categoria de uso 2', 'Categoria de uso 3',
       'Endereço 1', 'Endereço 2'],
      dtype='object')

time: 2.89 ms

In [105]:
df_alv.SQL_Incra.unique()

array(['00.055.114.0001-7', '00.230.133.0004-1', '00.230.133.0001-7', ...,
       '00.047.175.0012-1', '00.037.083.0584-1', '1542629999999'],
      dtype=object)

time: 9.31 ms

In [106]:
df_alv.drop(columns=['Mês'], inplace=True)

time: 18.1 ms

In [107]:
df_alv['Data autuação'] = pd.to_datetime(df_alv['Data autuação'], format='%d/%m/%Y', errors='coerce')

time: 25.6 ms

In [108]:
df_alv['Endereço'] = df_alv['Endereço'].str.cat([df_alv['Endereço 1'], df_alv['Endereço 2']], sep=' ', na_rep='')

time: 29.4 ms

In [109]:
df_alv.drop(columns=['Endereço 2', 'Endereço 1'], inplace=True)

time: 12.3 ms

In [110]:
df_alv['Responsável pela empresa'] = df_alv['Responsável pela empresa'].str.cat(df_alv['Responsável pela empresa 1'], sep=' / ', na_rep='')

time: 11.6 ms

In [111]:
df_alv.drop(columns=['Responsável pela empresa 1'], inplace=True)

time: 10.1 ms

In [112]:
df_alv['Categoria de uso'] = df_alv['Categoria de uso'].str.cat([df_alv['Categoria de uso 1'], df_alv['Categoria de uso 2'], df_alv['Categoria de uso 3']], sep=' / ', na_rep='')

time: 33.9 ms

In [113]:
df_alv.drop(columns=['Categoria de uso 1', 'Categoria de uso 2', 'Categoria de uso 3'], inplace=True)

time: 13.1 ms

In [114]:
df_alv.columns

Index(['Unidade', 'Subprefeitura', 'Alvará', 'Descrição', 'Tipo de Construção',
       'SQL_Incra', 'Categoria de uso', 'Zona de uso atual', 'Bairro',
       'Área da construção', 'Proprietário', 'Área do terreno', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Blocos', 'Unidades', 'Pavimentos', 'Processo',
       'Zona de uso anterior', '(B)locos / (P)avimentos / (U)nidades',
       'Data autuação'],
      dtype='object')

time: 1.57 ms

In [115]:
# df_alv.loc[df_alv.SQL_Incra == '059.268.0042-0']

time: 299 µs

### Tratando e limpando dados

In [116]:
df_alv = df_alv.dropna(thresh=10)

time: 56.1 ms

In [117]:
df_alv.columns

Index(['Unidade', 'Subprefeitura', 'Alvará', 'Descrição', 'Tipo de Construção',
       'SQL_Incra', 'Categoria de uso', 'Zona de uso atual', 'Bairro',
       'Área da construção', 'Proprietário', 'Área do terreno', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Blocos', 'Unidades', 'Pavimentos', 'Processo',
       'Zona de uso anterior', '(B)locos / (P)avimentos / (U)nidades',
       'Data autuação'],
      dtype='object')

time: 2.07 ms

In [118]:
df_alv.loc[:, ['Área da construção']] = pd.to_numeric(df_alv[df_alv['Área da construção']
                                                               .notna()]['Área da construção']
                                                        .str.replace('.', '')
                                                        .str.replace(',', '.'))

df_alv.loc[:, ['Área do terreno']] = pd.to_numeric(df_alv[df_alv['Área do terreno']
                                                               .notna()]['Área do terreno']
                                                        .str.replace('.', '')
                                                        .str.replace(',', '.'))

time: 146 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [119]:
# df_alv.drop(['Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'], axis=1, inplace=True)

time: 294 µs

In [120]:
## Converte registros com 11 caracteres para formato S.Q.L
df_alv.update(df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[0:3] + '.' + 
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[3:6] + '.' + 
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[6:10] + '-' +
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[10])

time: 159 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/pandas/core/frame.py:5732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = expressions.where(mask, this, that)

In [121]:
df_alv.columns

Index(['Unidade', 'Subprefeitura', 'Alvará', 'Descrição', 'Tipo de Construção',
       'SQL_Incra', 'Categoria de uso', 'Zona de uso atual', 'Bairro',
       'Área da construção', 'Proprietário', 'Área do terreno', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Blocos', 'Unidades', 'Pavimentos', 'Processo',
       'Zona de uso anterior', '(B)locos / (P)avimentos / (U)nidades',
       'Data autuação'],
      dtype='object')

time: 1.59 ms

In [122]:
df_alv[df_alv.SQL_Incra.isna()]['Endereço']

8429          AV  INTERLAGOS 05937
8430          R   DOMINGOS VEGA 47
8431     AV  TERESA CRISTINA 00210
8432           AV  ITAQUERA 001968
8433       AV  LUIS STAMATIS 00656
                     ...
12499     ES  DO CAMPO LIMPO 00288
12500      R   PADRE ADELINO 99999
12501       R   PURPURINA 00396 400
12502           R   HARMONIA 01250
12503            AL  SANTOS 001165
Name: Endereço, Length: 4075, dtype: object

time: 6.82 ms

In [123]:
df_alv.loc[:, ['SQL_Incra']] = df_alv['SQL_Incra'].fillna('')

time: 5.69 ms

### Verificando SQLs condominiais com o IPTU

In [124]:
df_alv[df_alv.SQL_Incra.str.match(pat = '(\d{3}.){2}\d{4}-\d')]

,Unidade,Subprefeitura,Alvará,Descrição,Tipo de Construção,SQL_Incra,Categoria de uso,Zona de uso atual,Bairro,Área da construção,...,Dirigente técnico,Responsável pela empresa,Autor do projeto,Blocos,Unidades,Pavimentos,Processo,Zona de uso anterior,(B)locos / (P)avimentos / (U)nidades,Data autuação
4272,SEHAB/APROV/G,ARICANDUVA/ FORMOSA/ CARRAO,2011.16.116-01,APOSTILAMENTO DE ALVARA DE EXECUCAO DE EDIFICA...,NaN,116.402.0004-4,H.M.P / / /,ZM-3A,VL. FORMOSA,NaN,...,FERNANDO ALBERTO POZETTI,/,RUI KIYOSHI ISHIKAWA,NaN,NaN,NaN,NaN,Z2.,NaN,NaT
4273,SEHAB/APROV/G,ARICANDUVA/ FORMOSA/ CARRAO,2011.52.080-01,APOSTILAMENTO DE ALVARA DE APROVACAO DE EDIFIC...,NaN,054.158.0014-1,H.M.P / / /,ZM-3A,VILA FORMOSA,8417.91,...,NaN,/,NaN,NaN,NaN,NaN,NaN,Z2.,B: 1 P: 19 U: 72,NaT
4274,SEHAB/APROV/G,BUTANTA,2009.43.232-01,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,NaN,159.088.0166-5,HIS / / /,ZM-P/002,BUTANTA,17.14,...,NaN,/,NaN,NaN,NaN,NaN,NaN,Z2.,B: 1 P: 1 U: 0,NaT
4275,SEHAB/APROV/G,BUTANTA,2010.30.871-01,APOSTILAMENTO DE ALVARA DE EXECUCAO DE EDIFICA...,NaN,101.557.0154-0,H.M.P / / /,ZM-2/004,RIO PEQUENO,NaN,...,FABIO BUZANIN DE MIRANDA,/,NaN,NaN,NaN,NaN,NaN,,NaN,NaT
4276,SEHAB/APROV/G,BUTANTA,2010.30.871-02,APOSTILAMENTO DE ALVARA DE EXECUCAO DE EDIFICA...,NaN,101.557.0154-0,H.M.P / / /,ZM-2/004,RIO PEQUENO,NaN,...,NaN,/,NaN,NaN,NaN,NaN,NaN,,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53745,SGM/AJ,PERUS,2013.32.379-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,187.046.0034-6,R; C1 / / /,NaN,PERUS,NaN,...,MARIO ALEXANDER STEINHAUSER,/,NaN,NaN,NaN,NaN,2003-1.039.534-4,Z9-045.,NaN,NaT
53746,SGM/AJ,SE,2013.31.386-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,019.046.0012-3,C2.3 / / /,NaN,BOM RETIRO,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.039.766-5,,NaN,NaT
53747,SGM/AJ,SE,2013.31.937-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,009.035.0010-8,C1.2; S1.1 / / /,NaN,BELA VISTA,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.009.227-9,Z10-001.,NaN,NaT
53748,SGM/AJ,SE,2013.33.074-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,001.020.0006-9,C2.2 / / /,NaN,SANTA EFIGENIA,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.002.595-4,Z2.,NaN,NaT
53749,SGM/AJ,VILA MARIANA,2013.33.733-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,037.099.0044-1,S2.1 / / /,NaN,VILA MARIANA,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.016.932-8,Z2.,NaN,NaT

time: 81.7 ms

In [125]:
match_00 = df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-\d')

time: 26.6 ms

In [126]:
df_alv.loc[match_00, ['SQL_Incra']] = df_alv[match_00]['SQL_Incra'].str[3:]

time: 20.2 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [127]:
match_00 = df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-')

time: 29.1 ms

In [128]:
df_alv.loc[match_00, ['SQL_Incra']] = df_alv[match_00]['SQL_Incra'].str[3:]+'0'

time: 5.47 ms

In [129]:
# df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-\d').value_counts()
# df_alv['SQL_Incra'] = df_alv[df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-\d')].SQL_Incra.str[3:]

time: 370 µs

In [130]:
# verificando padrão de S.Q.L-digito
df_alv['sql'] = df_alv[df_alv.SQL_Incra.str.match(pat = '(\d{3}.){2}\d{4}-\d')].SQL_Incra.str.replace('.', '').str[0:10]

time: 97.6 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [131]:
df_alv['SQL_Incra']

0        055.114.0001-7
1        230.133.0004-1
2        230.133.0001-7
3        066.587.0027-3
4        031.096.0035-8
              ...
56178    069.022.0009-2
56179    047.175.0012-1
56180    047.175.0012-1
56181    037.083.0584-1
56182     1542629999999
Name: SQL_Incra, Length: 55476, dtype: object

time: 2.4 ms

In [132]:
df_alv.sql.notna().value_counts()

True     49786
False     5690
Name: sql, dtype: int64

time: 7.83 ms

In [133]:
len(df_alv.sql.unique())

27066

time: 9.81 ms

In [134]:
df_iptu = pd.read_csv('data/IPTU_2020.zip', sep=';',  encoding='latin1')

time: 18 s

In [135]:
df_iptu['sql'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:10].astype(str)

time: 1.49 s

In [136]:
df_iptu['sqlc'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:10].astype(str) + df_iptu['NUMERO DO CONDOMINIO'].str[0:2].astype(str)

time: 2.48 s

In [137]:
df_iptu['sqlc_resultante'] = df_iptu.sqlc.apply(lambda x: x if x[10:12] == '00' else x[0:6] + '0000' + x[10:12])

time: 962 ms

In [138]:
df_iptu.columns

Index(['NUMERO DO CONTRIBUINTE', 'ANO DO EXERCICIO', 'NUMERO DA NL',
       'DATA DO CADASTRAMENTO', 'TIPO DE CONTRIBUINTE 1',
       'CPF/CNPJ DO CONTRIBUINTE 1', 'NOME DO CONTRIBUINTE 1',
       'TIPO DE CONTRIBUINTE 2', 'CPF/CNPJ DO CONTRIBUINTE 2',
       'NOME DO CONTRIBUINTE 2', 'NUMERO DO CONDOMINIO', 'CODLOG DO IMOVEL',
       'NOME DE LOGRADOURO DO IMOVEL', 'NUMERO DO IMOVEL',
       'COMPLEMENTO DO IMOVEL', 'BAIRRO DO IMOVEL', 'REFERENCIA DO IMOVEL',
       'CEP DO IMOVEL', 'QUANTIDADE DE ESQUINAS/FRENTES', 'FRACAO IDEAL',
       'AREA DO TERRENO', 'AREA CONSTRUIDA', 'AREA OCUPADA',
       'VALOR DO M2 DO TERRENO', 'VALOR DO M2 DE CONSTRUCAO',
       'ANO DA CONSTRUCAO CORRIGIDO', 'QUANTIDADE DE PAVIMENTOS',
       'TESTADA PARA CALCULO', 'TIPO DE USO DO IMOVEL',
       'TIPO DE PADRAO DA CONSTRUCAO', 'TIPO DE TERRENO',
       'FATOR DE OBSOLESCENCIA', 'ANO DE INICIO DA VIDA DO CONTRIBUINTE',
       'MES DE INICIO DA VIDA DO CONTRIBUINTE', 'FASE DO CONTRIBUINTE', 'sql',
       'sqlc', 'sqlc_resultante'],
      dtype='object')

time: 1.9 ms

In [139]:
df_alv['sql'].isin(df_iptu.sql).value_counts()
# df_iptu['sql']

False    27799
True     27677
Name: sql, dtype: int64

time: 1.18 s

In [140]:
len(df_alv['sql'].unique())

27066

time: 8.53 ms

In [141]:
len(df_alv[df_alv.sql.isin(df_iptu.sql)].sql.unique())

15783

time: 1.09 s

In [142]:
df_alv.sql.isna().value_counts()

False    49786
True      5690
Name: sql, dtype: int64

time: 6.78 ms

In [143]:
df_alv[df_alv.sql.isna()][['Endereço', 'Bairro']]

                                 Endereço      Bairro
82              R AGRIMENSOR SUGAYA,968           NaN
191    AV RAIMUNDO PEREIRA DE MAGALHAES           NaN
680                  ES DO PESSEGO,1635           NaN
706                 AV DA LIBERDADE,103     LIBERDADE
908        ES TURISTICA DO JARAGUA,2400       JARAGUA
...                                   ...         ...
55097               R RAPOSO DA FONSECA    GUAIANAZES
55127                    ES DO IGUATEMI    GUAIANAZES
55403                 R INACIO MONTEIRO    GUAIANASES
55663                  R SAO GABRIEL,43           NaN
56182              R POEMA DAS AMERICAS           NaN

[5690 rows x 2 columns]

time: 12.3 ms

In [144]:
(df_iptu[df_iptu.sql.isin(df_alv.sql)]['NUMERO DO CONDOMINIO'] != '00-0').value_counts()
# df_iptu.columns

False    13691
True      2092
Name: NUMERO DO CONDOMINIO, dtype: int64

time: 1.63 s

In [145]:
df_iptu[df_iptu.sql == '0551140032']

,NUMERO DO CONTRIBUINTE,ANO DO EXERCICIO,NUMERO DA NL,DATA DO CADASTRAMENTO,TIPO DE CONTRIBUINTE 1,CPF/CNPJ DO CONTRIBUINTE 1,NOME DO CONTRIBUINTE 1,TIPO DE CONTRIBUINTE 2,CPF/CNPJ DO CONTRIBUINTE 2,NOME DO CONTRIBUINTE 2,...,TIPO DE USO DO IMOVEL,TIPO DE PADRAO DA CONSTRUCAO,TIPO DE TERRENO,FATOR DE OBSOLESCENCIA,ANO DE INICIO DA VIDA DO CONTRIBUINTE,MES DE INICIO DA VIDA DO CONTRIBUINTE,FASE DO CONTRIBUINTE,sql,sqlc,sqlc_resultante
1127484,0551140032-7,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX0018XXXX,MARCELO MANOEL MACHADO,NaN,,NaN,...,Apartamento em condomínio,Residencial vertical - padrão C,De esquina,"0,70",1991,1,0,0551140032,055114003201,055114000001

time: 366 ms

In [146]:
df_alv = df_alv.reset_index(drop=True)

time: 15 ms

In [147]:
# df_alv['sqlc'] = df_alv.merge(df_iptu, how='left', on='sql')['sqlc_resultante']
# df_alv[df_alv.sql == '0412140032']
teste = df_alv.merge(df_iptu, how='left', on='sql', validate='many_to_one')[['sql','sqlc_resultante']]

time: 9.11 s

In [148]:
# pd.concat([teste, df_alv], axis=1)
df_alv['sqlc'] = teste.sqlc_resultante

time: 2.27 ms

In [149]:
df_alv[df_alv.sql == '0551140001']

,Unidade,Subprefeitura,Alvará,Descrição,Tipo de Construção,SQL_Incra,Categoria de uso,Zona de uso atual,Bairro,Área da construção,...,Autor do projeto,Blocos,Unidades,Pavimentos,Processo,Zona de uso anterior,(B)locos / (P)avimentos / (U)nidades,Data autuação,sql,sqlc
0,APROV G,ARICANDUVA / VILA FORMOSA,2004.02.459-00,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,PREDIO RESIDENCIAL,055.114.0001-7,R202 / / /,Z3-130,NaN,1422492.0,...,VERA LUCIA ESTANQUEIRO NONNO,001 - 001,054 - 054,15 - 15,NaN,NaN,NaN,NaT,0551140001,NaN
372,APROV 1,ARICANDUVA / VILA FORMOSA,2004.02.459-01,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,PREDIO RESIDENCIAL,055.114.0001-7,R202 / / /,Z3-130,VILA CARRAO,1422492.0,...,NaN,001 - 001,056 - 056,15 - 15,NaN,NaN,NaN,NaT,0551140001,NaN
41109,APROV 1,ARICANDUVA / VILA FORMOSA,2004.02.459-02,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,PREDIO RESIDENCIAL,055.114.0001-7,R301 / / /,Z3-130,VILA CARRAO,1468787.0,...,UNIARQ ARQUITETURA LTDA,001 - 001,056 - 056,15 - 15,NaN,NaN,NaN,NaT,0551140001,NaN

time: 53.5 ms

In [150]:
# df_alv.iloc[41815]

time: 192 µs

In [151]:
df_alv[(df_alv.sql.str[0:6] != df_alv.sqlc.str[0:6]) & df_alv.sqlc.notna()]
# df_alv

Empty DataFrame
Columns: [Unidade, Subprefeitura, Alvará, Descrição, Tipo de Construção, SQL_Incra, Categoria de uso, Zona de uso atual, Bairro, Área da construção, Proprietário, Área do terreno, Endereço, Aprovação, Dirigente técnico, Responsável pela empresa, Autor do projeto, Blocos, Unidades, Pavimentos, Processo, Zona de uso anterior, (B)locos / (P)avimentos / (U)nidades, Data autuação, sql, sqlc]
Index: []

[0 rows x 26 columns]

time: 63.8 ms

In [152]:
df_iptu.sql.isna().value_counts()

False    3498644
Name: sql, dtype: int64

time: 140 ms

In [153]:
df_alv.sqlc.notna().value_counts()

False    27799
True     27677
Name: sqlc, dtype: int64

time: 6.71 ms

In [154]:
df_alv['setor'] = df_alv.sql.str[0:3]

time: 19.4 ms

In [155]:
df_alv['quadra'] = df_alv.sql.str[3:6]

time: 31.7 ms

In [156]:
df_alv['lote'] = df_alv.sqlc.str[-6:-2]

time: 24.5 ms

In [157]:
df_alv['condominio'] = df_alv.sqlc.str[-2:]

time: 23.5 ms

In [158]:
# df_alv[df_alv.sqlc.notna() & (df_alv.condominio != '00')]

time: 351 µs

In [159]:
# df_alv[df_alv.lote == '0000']

time: 339 µs

### Convertendo em GeoDataframe

In [160]:
# df_alv

time: 297 µs

In [161]:
df_alv.to_csv('resultados/resulatado-parcial-01.csv')

time: 623 ms

In [162]:
# df_alv.dtypes

time: 745 µs

## Relacionando espacialmente

In [163]:
import geopandas as gpd

time: 273 µs

In [164]:
all_lotes = glob.glob("gis/lotes/*.zip")

li = []

for filename in all_lotes:
    zip_filename = f"zip://{filename}!{filename.replace('gis/lotes/', '').replace('.zip', '')}"
    print(zip_filename)
    #zipfile = "zip:///Users/name/Downloads/gadm36_AFG_shp.zip!data"
    gdf = gpd.read_file(zip_filename)
#     df = pd.read_csv(filename, encoding='latin1', 
#                      sep=';', 
#                      decimal=",", 
#                      header=None, 
#                      names=colunas[filename],
#                      skiprows=[0])
# #     li.append({"arquivo": filename,
# #                "headers": list(df.columns)})
    li.append(gdf)

zip://gis/lotes/SIRGAS_SHP_LOTES_01_AGUA_RASA.zip!SIRGAS_SHP_LOTES_01_AGUA_RASA
zip://gis/lotes/SIRGAS_SHP_LOTES_66_REPUBLICA.zip!SIRGAS_SHP_LOTES_66_REPUBLICA
zip://gis/lotes/SIRGAS_SHP_LOTES_28_ERMELINO_MATARAZZO.zip!SIRGAS_SHP_LOTES_28_ERMELINO_MATARAZZO
zip://gis/lotes/SIRGAS_SHP_LOTES_27_CURSINO.zip!SIRGAS_SHP_LOTES_27_CURSINO
zip://gis/lotes/SIRGAS_SHP_LOTES_90_VILA_MARIANA.zip!SIRGAS_SHP_LOTES_90_VILA_MARIANA
zip://gis/lotes/SIRGAS_SHP_LOTES_88_VILA_LEOPOLDINA.zip!SIRGAS_SHP_LOTES_88_VILA_LEOPOLDINA
zip://gis/lotes/SIRGAS_SHP_LOTES_15_CAMPO_BELO.zip!SIRGAS_SHP_LOTES_15_CAMPO_BELO
zip://gis/lotes/SIRGAS_SHP_LOTES_81_TREMEMBE.zip!SIRGAS_SHP_LOTES_81_TREMEMBE
zip://gis/lotes/SIRGAS_SHP_LOTES_10_BRAS.zip!SIRGAS_SHP_LOTES_10_BRAS
zip://gis/lotes/SIRGAS_SHP_LOTES_34_IPIRANGA.zip!SIRGAS_SHP_LOTES_34_IPIRANGA
zip://gis/lotes/SIRGAS_SHP_LOTES_78_SE.zip!SIRGAS_SHP_LOTES_78_SE
zip://gis/lotes/SIRGAS_SHP_LOTES_71_SANTO_AMARO.zip!SIRGAS_SHP_LOTES_71_SANTO_AMARO
zip://gis/lotes/SIRGAS_SHP_LOTES_54_MORUMBI.zip!SIRGAS_SHP_LOTES_54_MORUMBI
zip://gis/lotes/SIRGAS_SHP_LOTES_18_CANGAIBA.zip!SIRGAS_SHP_LOTES_18_CANGAIBA
zip://gis/lotes/SIRGAS_SHP_LOTES_68_SACOMA.zip!SIRGAS_SHP_LOTES_68_SACOMA
zip://gis/lotes/SIRGAS_SHP_LOTES_58_PEDREIRA.zip!SIRGAS_SHP_LOTES_58_PEDREIRA
zip://gis/lotes/SIRGAS_SHP_LOTES_41_JAGUARE.zip!SIRGAS_SHP_LOTES_41_JAGUARE
zip://gis/lotes/SIRGAS_SHP_LOTES_44_JARDIM_HELENA.zip!SIRGAS_SHP_LOTES_44_JARDIM_HELENA
zip://gis/lotes/SIRGAS_SHP_LOTES_76_SAPOPEMBA.zip!SIRGAS_SHP_LOTES_76_SAPOPEMBA
zip://gis/lotes/SIRGAS_SHP_LOTES_09_BOM_RETIRO.zip!SIRGAS_SHP_LOTES_09_BOM_RETIRO
zip://gis/lotes/SIRGAS_SHP_LOTES_17_CAMPO_LIMPO.zip!SIRGAS_SHP_LOTES_17_CAMPO_LIMPO
zip://gis/lotes/SIRGAS_SHP_LOTES_31_GUAIANASES.zip!SIRGAS_SHP_LOTES_31_GUAIANASES
zip://gis/lotes/SIRGAS_SHP_LOTES_79_SOCORRO.zip!SIRGAS_SHP_LOTES_79_SOCORRO
zip://gis/lotes/SIRGAS_SHP_LOTES_32_MOEMA.zip!SIRGAS_SHP_LOTES_32_MOEMA
zip://gis/lotes/SIRGAS_SHP_LOTES_47_JOSE_BONIFACIO.zip!SIRGAS_SHP_LOTES_47_JOSE_BONIFACIO
zip://gis/lotes/SIRGAS_SHP_LOTES_40_JAGUARA.zip!SIRGAS_SHP_LOTES_40_JAGUARA
zip://gis/lotes/SIRGAS_SHP_LOTES_87_VILA_JACUI.zip!SIRGAS_SHP_LOTES_87_VILA_JACUI
zip://gis/lotes/SIRGAS_SHP_LOTES_50_LIMAO.zip!SIRGAS_SHP_LOTES_50_LIMAO
zip://gis/lotes/SIRGAS_SHP_LOTES_02_ALTO_DE_PINHEIROS.zip!SIRGAS_SHP_LOTES_02_ALTO_DE_PINHEIROS
zip://gis/lotes/SIRGAS_SHP_LOTES_23_CIDADE_DUTRA.zip!SIRGAS_SHP_LOTES_23_CIDADE_DUTRA
zip://gis/lotes/SIRGAS_SHP_LOTES_95_SAO_DOMINGOS.zip!SIRGAS_SHP_LOTES_95_SAO_DOMINGOS
zip://gis/lotes/SIRGAS_SHP_LOTES_37_ITAQUERA.zip!SIRGAS_SHP_LOTES_37_ITAQUERA
zip://gis/lotes/SIRGAS_SHP_LOTES_83_VILA_ANDRADE.zip!SIRGAS_SHP_LOTES_83_VILA_ANDRADE
zip://gis/lotes/SIRGAS_SHP_LOTES_30_GRAJAU.zip!SIRGAS_SHP_LOTES_30_GRAJAU
zip://gis/lotes/SIRGAS_SHP_LOTES_73_SAO_MATEUS.zip!SIRGAS_SHP_LOTES_73_SAO_MATEUS
zip://gis/lotes/SIRGAS_SHP_LOTES_14_CAMBUCI.zip!SIRGAS_SHP_LOTES_14_CAMBUCI
zip://gis/lotes/SIRGAS_SHP_LOTES_69_SANTA_CECILIA.zip!SIRGAS_SHP_LOTES_69_SANTA_CECILIA
zip://gis/lotes/SIRGAS_SHP_LOTES_52_MARSILAC.zip!SIRGAS_SHP_LOTES_52_MARSILAC
zip://gis/lotes/SIRGAS_SHP_LOTES_07_BELA_VISTA.zip!SIRGAS_SHP_LOTES_07_BELA_VISTA
zip://gis/lotes/SIRGAS_SHP_LOTES_21_CASA_VERDE.zip!SIRGAS_SHP_LOTES_21_CASA_VERDE
zip://gis/lotes/SIRGAS_SHP_LOTES_59_PENHA.zip!SIRGAS_SHP_LOTES_59_PENHA
zip://gis/lotes/SIRGAS_SHP_LOTES_08_BELEM.zip!SIRGAS_SHP_LOTES_08_BELEM
zip://gis/lotes/SIRGAS_SHP_LOTES_20_CARRAO.zip!SIRGAS_SHP_LOTES_20_CARRAO
zip://gis/lotes/SIRGAS_SHP_LOTES_53_MOOCA.zip!SIRGAS_SHP_LOTES_53_MOOCA
zip://gis/lotes/SIRGAS_SHP_LOTES_04_ARICANDUVA.zip!SIRGAS_SHP_LOTES_04_ARICANDUVA
zip://gis/lotes/SIRGAS_SHP_LOTES_25_CIDADE_TIRADENTES.zip!SIRGAS_SHP_LOTES_25_CIDADE_TIRADENTES
zip://gis/lotes/SIRGAS_SHP_LOTES_55_PARELHEIROS.zip!SIRGAS_SHP_LOTES_55_PARELHEIROS
zip://gis/lotes/SIRGAS_SHP_LOTES_46_JARDIM_SAO_LUIS.zip!SIRGAS_SHP_LOTES_46_JARDIM_SAO_LUIS
zip://gis/lotes/SIRGAS_SHP_LOTES_38_JABAQUARA.zip!SIRGAS_SHP_LOTES_38_JABAQUARA
zip://gis/lotes/SIRGAS_SHP_LOTES_96_LAJEADO.zip!SIRGAS_SHP_LOTES_96_LAJEADO
zip://gis/lotes/SIRGAS_SHP_LOTES_77_SAUDE.zip!SIRGAS_SHP_LOTES_77_SAUDE
zip://gis/lotes/SIRGAS_SHP_LOTES_49_LIBERDADE.zip!SIRGAS_SHP_LOTES_49_LIBERDADE
zip://gis/lotes/SIRGAS_SHP_LOTES_24_CIDADE_LIDER.zip!SIRGAS_SHP_LOTES_24_CIDADE_LIDER
zip://gis/lotes/SIRGAS_SHP_LOTES_45_JARDIM_PAULISTA.zip!SIRGAS_SHP_LOTES_45_JARDIM_PAULISTA
zip://gis/lotes/SIRGAS_SHP_LOTES_65_RAPOSO_TAVARES.zip!SIRGAS_SHP_LOTES_65_RAPOSO_TAVARES
zip://gis/lotes/SIRGAS_SHP_LOTES_22_CIDADE_ADEMAR.zip!SIRGAS_SHP_LOTES_22_CIDADE_ADEMAR
zip://gis/lotes/SIRGAS_SHP_LOTES_63_PIRITUBA.zip!SIRGAS_SHP_LOTES_63_PIRITUBA
zip://gis/lotes/SIRGAS_SHP_LOTES_94_VILA_SONIA.zip!SIRGAS_SHP_LOTES_94_VILA_SONIA
zip://gis/lotes/SIRGAS_SHP_LOTES_61_PERUS.zip!SIRGAS_SHP_LOTES_61_PERUS
zip://gis/lotes/SIRGAS_SHP_LOTES_11_BRASILANDIA.zip!SIRGAS_SHP_LOTES_11_BRASILANDIA
zip://gis/lotes/SIRGAS_SHP_LOTES_80_TATUAPE.zip!SIRGAS_SHP_LOTES_80_TATUAPE
zip://gis/lotes/SIRGAS_SHP_LOTES_92_VILA_MEDEIROS.zip!SIRGAS_SHP_LOTES_92_VILA_MEDEIROS
zip://gis/lotes/SIRGAS_SHP_LOTES_67_RIO_PEQUENO.zip!SIRGAS_SHP_LOTES_67_RIO_PEQUENO
zip://gis/lotes/SIRGAS_SHP_LOTES_60_PERDIZES.zip!SIRGAS_SHP_LOTES_60_PERDIZES
zip://gis/lotes/SIRGAS_SHP_LOTES_64_PONTE_RASA.zip!SIRGAS_SHP_LOTES_64_PONTE_RASA
zip://gis/lotes/SIRGAS_SHP_LOTES_35_ITAIM_BIBI.zip!SIRGAS_SHP_LOTES_35_ITAIM_BIBI
zip://gis/lotes/SIRGAS_SHP_LOTES_33_IGUATEMI.zip!SIRGAS_SHP_LOTES_33_IGUATEMI
zip://gis/lotes/SIRGAS_SHP_LOTES_82_TUCURUVI.zip!SIRGAS_SHP_LOTES_82_TUCURUVI
zip://gis/lotes/SIRGAS_SHP_LOTES_19_CAPAO_REDONDO.zip!SIRGAS_SHP_LOTES_19_CAPAO_REDONDO
zip://gis/lotes/SIRGAS_SHP_LOTES_89_VILA_MARIA.zip!SIRGAS_SHP_LOTES_89_VILA_MARIA
zip://gis/lotes/SIRGAS_SHP_LOTES_26_CONSOLACAO.zip!SIRGAS_SHP_LOTES_26_CONSOLACAO
zip://gis/lotes/SIRGAS_SHP_LOTES_84_VILA_CURUCA.zip!SIRGAS_SHP_LOTES_84_VILA_CURUCA
zip://gis/lotes/SIRGAS_SHP_LOTES_43_JARDIM_ANGELA.zip!SIRGAS_SHP_LOTES_43_JARDIM_ANGELA
zip://gis/lotes/SIRGAS_SHP_LOTES_16_CAMPO_GRANDE.zip!SIRGAS_SHP_LOTES_16_CAMPO_GRANDE
zip://gis/lotes/SIRGAS_SHP_LOTES_75_SAO_RAFAEL.zip!SIRGAS_SHP_LOTES_75_SAO_RAFAEL
zip://gis/lotes/SIRGAS_SHP_LOTES_57_PARQUE_DO_CARMO.zip!SIRGAS_SHP_LOTES_57_PARQUE_DO_CARMO
zip://gis/lotes/SIRGAS_SHP_LOTES_12_BUTANTA.zip!SIRGAS_SHP_LOTES_12_BUTANTA
zip://gis/lotes/SIRGAS_SHP_LOTES_29_FREGUESIA_DO_O.zip!SIRGAS_SHP_LOTES_29_FREGUESIA_DO_O
zip://gis/lotes/SIRGAS_SHP_LOTES_56_PARI.zip!SIRGAS_SHP_LOTES_56_PARI
zip://gis/lotes/SIRGAS_SHP_LOTES_93_VILA_PRUDENTE.zip!SIRGAS_SHP_LOTES_93_VILA_PRUDENTE
zip://gis/lotes/SIRGAS_SHP_LOTES_51_MANDAQUI.zip!SIRGAS_SHP_LOTES_51_MANDAQUI
zip://gis/lotes/SIRGAS_SHP_LOTES_72_SAO_LUCAS.zip!SIRGAS_SHP_LOTES_72_SAO_LUCAS
zip://gis/lotes/SIRGAS_SHP_LOTES_42_JARAGUA.zip!SIRGAS_SHP_LOTES_42_JARAGUA
zip://gis/lotes/SIRGAS_SHP_LOTES_48_LAPA.zip!SIRGAS_SHP_LOTES_48_LAPA
zip://gis/lotes/SIRGAS_SHP_LOTES_05_ARTUR_ALVIM.zip!SIRGAS_SHP_LOTES_05_ARTUR_ALVIM
zip://gis/lotes/SIRGAS_SHP_LOTES_62_PINHEIROS.zip!SIRGAS_SHP_LOTES_62_PINHEIROS
zip://gis/lotes/SIRGAS_SHP_LOTES_36_ITAIM_PAULISTA.zip!SIRGAS_SHP_LOTES_36_ITAIM_PAULISTA
zip://gis/lotes/SIRGAS_SHP_LOTES_91_VILA_MATILDE.zip!SIRGAS_SHP_LOTES_91_VILA_MATILDE
zip://gis/lotes/SIRGAS_SHP_LOTES_13_CACHOEIRINHA.zip!SIRGAS_SHP_LOTES_13_CACHOEIRINHA
zip://gis/lotes/SIRGAS_SHP_LOTES_03_ANHANGUERA.zip!SIRGAS_SHP_LOTES_03_ANHANGUERA
zip://gis/lotes/SIRGAS_SHP_LOTES_70_SANTANA.zip!SIRGAS_SHP_LOTES_70_SANTANA
zip://gis/lotes/SIRGAS_SHP_LOTES_06_BARRA_FUNDA.zip!SIRGAS_SHP_LOTES_06_BARRA_FUNDA
zip://gis/lotes/SIRGAS_SHP_LOTES_39_JACANA.zip!SIRGAS_SHP_LOTES_39_JACANA
zip://gis/lotes/SIRGAS_SHP_LOTES_86_VILA_GUILHERME.zip!SIRGAS_SHP_LOTES_86_VILA_GUILHERME
zip://gis/lotes/SIRGAS_SHP_LOTES_85_VILA_FORMOSA.zip!SIRGAS_SHP_LOTES_85_VILA_FORMOSA
zip://gis/lotes/SIRGAS_SHP_LOTES_74_SAO_MIGUEL.zip!SIRGAS_SHP_LOTES_74_SAO_MIGUEL
time: 51.3 s

In [165]:
gdf_lotes = gpd.GeoDataFrame(pd.concat(li, ignore_index=True))

time: 386 ms

In [166]:
gdf_lotes

,lo_setor,lo_quadra,lo_lote,lo_condomi,lo_tp_quad,lo_tp_lote,geometry
0,052,246,0000,04,F,F,"POLYGON ((339259.190 7391880.414, 339258.522 7..."
1,102,087,0000,02,F,F,"POLYGON ((339975.061 7391373.027, 339972.832 7..."
2,052,062,0000,02,F,F,"POLYGON ((338387.249 7393011.755, 338342.440 7..."
3,100,069,0025,00,F,F,"POLYGON ((339511.610 7391704.014, 339516.247 7..."
4,100,017,0021,00,F,F,"POLYGON ((338846.759 7391897.295, 338849.031 7..."
...,...,...,...,...,...,...,...
1668284,112,593,0016,00,F,F,"POLYGON ((352518.797 7399751.992, 352513.493 7..."
1668285,112,593,0043,00,F,F,"POLYGON ((352518.797 7399751.992, 352516.986 7..."
1668286,139,171,0010,00,F,F,"POLYGON ((353425.391 7398787.846, 353427.900 7..."
1668287,139,099,0023,00,F,F,"POLYGON ((353567.454 7399862.813, 353537.170 7..."
1668288,112,034,0004,00,M,M,"POLYGON ((351461.162 7401079.783, 351488.325 7..."

time: 14.8 ms

In [167]:
gdf_lotes['sqlc'] = gdf_lotes.lo_setor + gdf_lotes.lo_quadra + gdf_lotes.lo_lote + gdf_lotes.lo_condomi

time: 612 ms

In [168]:
gdf_lotes.geometry = gdf_lotes.geometry.apply(lambda x: x.representative_point())

time: 11.3 s

In [169]:
df_alv = df_alv.reset_index()

time: 46.5 ms

In [170]:
gdf_lotes[gdf_lotes.lo_tp_lote == 'F'][gdf_lotes[gdf_lotes.lo_tp_lote == 'F']['sqlc'].duplicated()].to_file("resultados/lotes-fiscais-duplicados.geojson", driver='GeoJSON')

time: 2.02 s

In [171]:
gdf_lotes.columns

Index(['lo_setor', 'lo_quadra', 'lo_lote', 'lo_condomi', 'lo_tp_quad',
       'lo_tp_lote', 'geometry', 'sqlc'],
      dtype='object')

time: 1.92 ms

In [172]:
gdf_lotes.drop_duplicates(subset=['sqlc', 'lo_tp_lote'], inplace=True)

time: 930 ms

In [173]:
gdf_lotes[gdf_lotes.lo_tp_lote == 'F'][gdf_lotes[gdf_lotes.lo_tp_lote == 'F']['sqlc'].duplicated()]

Empty GeoDataFrame
Columns: [lo_setor, lo_quadra, lo_lote, lo_condomi, lo_tp_quad, lo_tp_lote, geometry, sqlc]
Index: []

time: 1.4 s

In [174]:
df_alv = df_alv.merge(gdf_lotes[gdf_lotes.lo_tp_lote == 'F'][['sqlc', 'geometry']], how='left', on='sqlc')

time: 1.48 s

In [175]:
gdf_alv = gpd.GeoDataFrame(df_alv, geometry=df_alv.geometry)

time: 8.68 ms

In [176]:
gdf_alv.is_valid.value_counts()

False    29023
True     26453
dtype: int64

time: 50.9 ms

In [177]:
gdf_alv.drop(columns=['index'], inplace=True)

time: 39.8 ms

In [178]:
gdf_quadras = gpd.read_file('gis/SIRGAS_SHP_quadraMDSF.shp')

time: 2.89 s

In [179]:
gdf_alv[~gdf_alv.geometry.is_valid & gdf_alv.setor.notna() & gdf_alv.quadra.notna()][['setor', 'quadra']]

      setor quadra
0       055    114
1       230    133
2       230    133
5       112    639
7       085    031
...     ...    ...
55470   068    044
55471   069    022
55472   047    175
55473   047    175
55474   037    083

[23333 rows x 2 columns]

time: 74.2 ms

In [180]:
gdf_alv['sq'] = gdf_alv.setor + gdf_alv.quadra

time: 7.62 ms

In [181]:
gdf_quadras = gdf_quadras[gdf_quadras.qd_tipo != 'M'].drop_duplicates(subset=['qd_setor', 'qd_fiscal'])

time: 95.3 ms

In [182]:
gdf_quadras['sq'] = gdf_quadras.qd_setor + gdf_quadras.qd_fiscal

time: 9.26 ms

In [183]:
# gdf_alv.merge(gdf_quadras, on='sq', how='left')
gdf_alv_sq = gdf_alv[~gdf_alv.is_valid & gdf_alv.setor.notna() & gdf_alv.quadra.notna()]

time: 112 ms

In [184]:
gdf_alv_quadras = gdf_alv_sq.reset_index().merge(gdf_quadras, on='sq', how='left').set_index('index').geometry_y
# gdf_alv_sq

time: 204 ms

In [185]:
gdf_alv.index.set_names('index', inplace=True)

time: 371 µs

In [189]:
gdf_alv = gdf_alv.join(gdf_alv_quadras, how='left')

time: 41.5 ms

In [204]:
# from shapely import

time: 804 µs

In [251]:
import random
from shapely.geometry import Point

time: 468 µs

In [253]:
gdf_alv_bkp = gdf_alv

time: 1.2 ms

In [260]:
gdf_alv.loc[gdf_alv.geometry_y.notna() ,['geometry']] = gdf_alv[gdf_alv.geometry_y.notna()].geometry_y.apply(lambda x: Point(random.choice(x.buffer(2).exterior.coords)))

time: 3.46 s

In [276]:
gdf_alv.crs = 'EPSG:31983'

time: 37 ms

In [277]:
gdf_alv.loc[gdf_alv.is_valid].drop(['geometry_y'], axis=1).to_file('resultados/alvaras-geometrias-pelo-sql.gpkg', driver='GPKG')

time: 17 s

## Georeferenciando refugo

In [267]:
gdf_alv.columns

Index(['Unidade', 'Subprefeitura', 'Alvará', 'Descrição', 'Tipo de Construção',
       'SQL_Incra', 'Categoria de uso', 'Zona de uso atual', 'Bairro',
       'Área da construção', 'Proprietário', 'Área do terreno', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Blocos', 'Unidades', 'Pavimentos', 'Processo',
       'Zona de uso anterior', '(B)locos / (P)avimentos / (U)nidades',
       'Data autuação', 'sql', 'sqlc', 'setor', 'quadra', 'lote', 'condominio',
       'geometry', 'sq', 'geometry_y'],
      dtype='object')

time: 4.87 ms

In [271]:
gdf_alv.loc[~gdf_alv.is_valid & gdf_alv.Endereço.notna(), ['Endereço', 'Bairro']].to_csv('resultados/alvaras-para-geocodificar.csv')

time: 124 ms

### Relacionando espacialmente - DEPRECIADO

In [ ]:
from owslib.wfs import WebFeatureService
from owslib.csw import CatalogueServiceWeb
import json
import geopandas as gpd
from shapely.geometry import shape
from urllib.parse import quote

In [ ]:
url_wfs = 'http://wfs.geosampa.prefeitura.sp.gov.br/geoserver/geoportal/wfs'

wfs = WebFeatureService(url_wfs, version='2.0.0')

In [ ]:
# list(wfs.operations)
# wfs.contents

In [ ]:
# response = wfs.getfeature(typename="geoportal:quadra_fiscal", 
#                           outputFormat='application/json')

In [ ]:
# quadras_fiscais = json.loads(response.read())

In [ ]:
# len(quadras_fiscais['features'])

In [ ]:
df_sqlcs = df_alv[df_alv.sqlc.notna()][['setor', 'quadra', 'lote', 'condominio']]

In [ ]:
n = 50  #chunk row size
list_sqlcs = [df_sqlcs[i:i+n] for i in range(0, df_sqlcs.shape[0], n)]

In [ ]:
len(list_sqlcs)

In [ ]:
import urllib.request

In [ ]:
# response = wfs.getfeature(typename="geoportal:lote", 
#                           outputFormat='application/json')

feicoes = ''

for df in list_sqlcs:
    cql_string = ' OR '.join([f"(cd_setor_fiscal='{r.setor}' and cd_quadra_fiscal='{r.quadra}' and cd_lote='{r.lote}')" for k, r in df.iterrows()])
    url = response.geturl() + '&cql_filter=' + quote(cql_string)
    with urllib.request.urlopen(url) as response:
       feicoes = json.loads(response.read())
    break

In [ ]:
feicoes

In [ ]:
cql_string = ' OR '.join([f"(cd_setor_fiscal='{s[0]}' and cd_quadra_fiscal='{s[1]}' and cd_lote='{s[2]}')" for s in sqls])

In [ ]:
response = wfs.getfeature(typename="geoportal:lote", 
                          outputFormat='application/json')

In [ ]:
# cql_string

### Tratando refugo não localizado