## Georeferenciando Alvarás

### Acessando os dados de Alvará

In [100]:
import pandas as pd

In [101]:
import glob
import numpy as np

In [105]:
df_alv = pd.read_csv('data/anual2018dezembro.csv', encoding='latin1', sep=';', decimal=",")

In [112]:
## Abre o CSV normalizado
import csv
colunas = {}

with open('resultados/colunas_planilhas_normalizada.csv', newline='') as f:
    reader = csv.reader(f, delimiter=';')
    data = list(reader)

## carrega em um Dicionário de nome de arquivo, contendo as colunas
# [colunas[l[0]] = l[1:] for l in data]

for l in data:
    colunas[l[0]] = l[1:]

colunas

{'data/anual2004.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2008.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2012.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2016.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2003.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Categoria de uso 1',
  'Categoria de uso 2',
  'Categoria de uso 3',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Área do terreno',
  'Remover: AREAEXIST',
  'Remover: AREAAAUM',
  'Remover: AREADIM',
  'Remover: AREAMODI',
  'Remover: AREAAUTO',
  'Proprietário',
  'Endereço',
  'Endereço 1',
  'Endereço 2',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Remover: SEQUENCIA',
  'Processo',
  'Remover: IDENT',
  'Remover: ESPACO',
  'Remover: CODDOCU',
  'Remover: CODADTV',
  'Data autuação'],
 'data/anual2018dezembro.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2010.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2011.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 20',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2017dezembro.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2014.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2009.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2007.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2006.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2005.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2015.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2013.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2002---a-partir-de-abril.csv': ['Mês ',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35']}

In [113]:
# path = r'C:\DRO\DCL_rawdata_files' # use your path
all_files = glob.glob("data/*.csv")

li = []

for filename in all_files:
    print(filename)
    df = pd.read_csv(filename, encoding='latin1', 
                     sep=';', 
                     decimal=",", 
                     header=None, 
                     names=colunas[filename],
                     skiprows=[0])
#     li.append({"arquivo": filename,
#                "headers": list(df.columns)})
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

data/anual2004.csv
data/anual2008.csv
data/anual2012.csv
data/anual2016.csv
data/anual2003.csv
data/anual2018dezembro.csv
data/anual2010.csv
data/anual2011.csv
data/anual2017dezembro.csv
data/anual2014.csv
data/anual2009.csv
data/anual2007.csv
data/anual2006.csv
data/anual2005.csv
data/anual2015.csv
data/anual2013.csv
data/anual2002---a-partir-de-abril.csv

In [75]:
# np.savetxt("resultados/colunas_planilhas.csv", li, delimiter=";", fmt='%s')

In [114]:
frame = pd.concat(li, axis=0, ignore_index=True)

In [115]:
frame.columns

Index(['Mês ', 'Unidade', 'Subprefeitura', 'Alvará', 'Descrição',
       'Tipo de Construção', 'SQL_Incra', 'Categoria de uso',
       'Zona de uso atual', 'Bairro', 'Área da construção', 'Unnamed: 11',
       'Proprietário', 'Área do terreno', 'Unnamed: 14', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Responsável pela empresa 1', 'Blocos', 'Unidades',
       'Pavimentos', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Processo', 'Zona de uso anterior',
       '(B)locos / (P)avimentos / (U)nidades', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Data autuação', 'Categoria de uso 1',
       'Categoria de uso 2', 'Categoria de uso 3', 'Remover: AREAEXIST',
       'Remover: AREAAAUM', 'Remover: AREADIM', 'Remover: AREAMODI',
       'Remover: AREAAUTO', 'Endereço 1', 'Endereço 2', 'Remover: SEQUENCIA',
       'Remover: IDENT', 'Remover: ESPACO', 'Remover: CODDOCU',
       'Remover: CODADTV', 'Unnamed: 20'],
      dtype='object')

In [116]:
df_alv = frame

## TODO --> Entender cada campo em cada ano de CSV :(

In [117]:
df_alv

,Mês,Unidade,Subprefeitura,Alvará,Descrição,Tipo de Construção,SQL_Incra,Categoria de uso,Zona de uso atual,Bairro,...,Remover: AREAMODI,Remover: AREAAUTO,Endereço 1,Endereço 2,Remover: SEQUENCIA,Remover: IDENT,Remover: ESPACO,Remover: CODDOCU,Remover: CODADTV,Unnamed: 20
0,Janeiro,APROV G,ARICANDUVA / VILA FORMOSA,2004.02.459-00,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,PREDIO RESIDENCIAL,00.055.114.0001-7,R202,Z3-130,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Janeiro,APROV G,ITAQUERA,2004.01.964-00,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,HAB. INTERESSE SOCIAL,00.230.133.0004-1,HIS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Janeiro,APROV G,ITAQUERA,2004.02.457-00,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,HAB. INTERESSE SOCIAL,00.230.133.0001-7,HIS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Janeiro,APROV G,JACANA / TREMEMBE,2004.02.451-00,RECONSIDERACAO DE DESPACHO DE AUTO DE REGULARI...,PREDIO RESIDENCIAL,00.066.587.0027-3,R,Z2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Janeiro,APROV G,MOOCA,2004.02.453-00,RECONSIDERACAO DE DESPACHO DE AUTO DE REGULARI...,PREDIO SERVICO,00.031.096.0035-8,S2.8,Z2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Tratando e limpando dados

In [224]:
df_alv = df_alv.dropna(thresh=2)

In [225]:
df_alv.columns

Index(['Mês ', 'Unidade', 'Subprefeitura', 'Alvará', 'Processo', 'Descrição',
       'Data autuação', 'SQL_Incra', 'Categoria de uso', 'Zona de uso atual',
       'Zona de uso anterior', 'Bairro', 'Área da construção (m²)',
       'Proprietário', 'Área do terreno (m²)', 'Endereço', 'Aprovação',
       'Dirigente técnico', 'Responsável pela empresa', 'Autor do projeto',
       'Responsável pela empresa.1',
       '(B)locos / \n(P)avimentos / \n(U)nidades', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24'],
      dtype='object')

In [226]:
df_alv.loc[:, ['Área da construção (m²)']] = pd.to_numeric(df_alv[df_alv['Área da construção (m²)']
                                                               .notna()]['Área da construção (m²)']
                                                        .str.replace('.', '')
                                                        .str.replace(',', '.'))

df_alv.loc[:, ['Área do terreno (m²)']] = pd.to_numeric(df_alv[df_alv['Área do terreno (m²)']
                                                               .notna()]['Área do terreno (m²)']
                                                        .str.replace('.', '')
                                                        .str.replace(',', '.'))

In [227]:
df_alv.drop(['Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'], axis=1, inplace=True)

In [228]:
## Converte registros com 11 caracteres para formato S.Q.L
df_alv.update(df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[0:3] + '.' + 
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[3:6] + '.' + 
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[6:10] + '-' +
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[10])

### Verificando SQLs condominiais com o IPTU

In [229]:
# verificando padrão de S.Q.L-digito
df_alv['sql'] = df_alv[df_alv.SQL_Incra.str.match(pat = '(\d{3}.){2}\d{4}-\d')].SQL_Incra.str.replace('.', '').str[0:10]

In [230]:
df_alv

,Mês,Unidade,Subprefeitura,Alvará,Processo,Descrição,Data autuação,SQL_Incra,Categoria de uso,Zona de uso atual,...,Proprietário,Área do terreno (m²),Endereço,Aprovação,Dirigente técnico,Responsável pela empresa,Autor do projeto,Responsável pela empresa.1,(B)locos / \n(P)avimentos / \n(U)nidades,sql
0,Janeiro,SGM/AJ,PENHA,2018.01.369-00,2004-1.010.334-5,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,15/12/2004,059.268.0042-0,R,NaN,...,ESPOLIO DE ABILIO BERNARDO CARDOSO VALENTE E O...,318.13,R SAIVA 00305,30/01/2018,NaN,NaN,NaN,NaN,NaN,0592680042
1,Janeiro,SGM/AJ,PINHEIROS,2018.00.491-00,2003-1.037.949-7,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,22/10/2003,299.133.0004-3,R; E1; S1; C1,NaN,...,MARIA CECILIA KALIL BEYRUTI,400.00,R CHILON 00060,12/01/2018,AIDA MARTINS CASIMIRO VARUZZI,NaN,NaN,NaN,NaN,2991330004
2,Janeiro,SMUL,CAMPO LIMPO,2018.00.889-00,2014-0.176.365-7,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,27/06/2014,169.269.0009-3,EHMP,ZEUP,...,PROJETO IMOBILIARIO E 22 LTDA,3678.24,ES VELHA DE ITAPECERICA 00019,19/01/2018,HERCY MARTINS COSTA,NaN,MARCELO AUGUSTO FERNANDES BARTOLO,NaN,B: 1 P: 16 U: 187; B: 1 P: 2 U: 0,1692690009
3,Janeiro,SMUL,SANTANA/ TUCURUVI,2018.00.553-00,2002-0.249.324-1,RECONSIDERACAO DE DESPACHO DE ALVARA DE EXECUC...,22/10/2002,067.225.0104-3,R202,ZCP-B/008 / EETU,...,SOLIDEZ EMPREENDIMENTOS IMOBILIARIOS LTDA,NaN,AV GUAPIRA 291,12/01/2018,ALEXANDRE MENDONCA MILLEU,NaN,ALEXANDRE MENDONCA MILLEU,NaN,NaN,0672250104
4,Janeiro,SMUL/ASSEC-CEUSO,CIDADE ADEMAR,2018.01.426-00,2013-0.031.633-7,RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE R...,01/02/2013,120.158.0055-6,NR3,ZCP-A/005,...,CONDOMÍNIO EDIFÍCIO CANAÃ,1110.00,R HORACIO ALVES DA COSTA 00051,31/01/2018,ARLINDO GOMES NETO,NaN,NaN,NaN,NaN,1201580055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4511,Dezembro,SMUL/SERVIN/DSIMP,SE,2014.16.559-02,2018-0.115.725-8,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,21/11/2018,004.067.0186-5,NR3,ZM-3B/003,...,ASSOC BRASILEIRA DE EDUCACAO E CULTURA - ABEC,14813.10,"R JUSTO AZAMBUJA 000121 185, 229",18/12/2018,ALESSANDRA DI GIOIA VIANNA,NaN,ALESSANDRA DI GIOIA VIANNA,NaN,B: 1 P: 6 U: 0; B: 1 P: 4 U: 0; B: 1 P: 4 U: 0...,0040670186
4512,Dezembro,SMUL/SERVIN/DSIMP,SE,2018.22.128-00,2017-0.145.422-6,CERTIFICADO DE REGULARIZACAO,19/09/2017,007.036.0164-4,NR2,ZEM,...,IRMANDADE DA SANTA CASA DE MISERICORDIA DE SP,826.76,R JESUINO PASCOAL 00121,17/12/2018,NaN,NaN,LAURY MONTEIRO VALENTE,NaN,NaN,0070360164
4513,Dezembro,SMUL/SERVIN/DSIMP,SE,2018.22.510-00,2015-0.241.586-7,ALVARA DE APROVACAO DE REFORMA,11/09/2015,033.015.1589-4,NR1; NR2; NR3,ZEU,...,ASSOCIACAO EDUCACIONAL NOVE DE JULHO,16798.10,R VERGUEIRO 000235,26/12/2018,RICARDO DA SILVA BERNABE,NaN,RICARDO DA SILVA BERNABE,NaN,B: 1 P: 14 U: 0; B: 1 P: 1 U: 0; B: 1 P: 1 U: 0,0330151589
4514,Dezembro,SMUL/SERVIN/DSIMP,VILA MARIANA,2018.19.141-01,2010-0.329.354-5,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,01/12/2010,037.083.0600-7,NR3,ZM-3A/007,...,SOCIEDADE BENEF ISRAELITABRAS HOSPITAL ALBERT,12455.85,R CORONEL LISBOA 000139,20/12/2018,ADRIANA BLAY LEVISKY,NaN,ADRIANA BLAY LEVISKY,NaN,NaN,0370830600
4515,Dezembro,SMUL/SERVIN/DSIMP,VILA MARIANA,2018.22.347-00,2016-0.273.268-6,ALVARA DE APROVACAO E EXECUCAO DE REFORMA,16/12/2016,038.051.0042-6,NR1-06,ZEU / EETU,...,GRAFICA EDITORA GUTEPLAN LTDA. ...,485.53,R VERGUEIRO 001883,20/12/2018,FRED OSSAMU SATO,NaN,CLAUDIA BASSICHETTO,NaN,B: 1 P: 11 U: 0,0380510042

In [ ]:
df_iptu = pd.read_csv('data/IPTU_2020.zip', sep=';',  encoding='latin1')

In [ ]:
df_iptu['sql'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:10]

In [ ]:
(df_iptu[df_iptu['sql'].isin(list(df_alv['sql']))]['NUMERO DO CONDOMINIO'] == '00-0').value_counts()

In [ ]:
len(df_alv['sql'].unique())

### Convertendo em GeoDataframe

### Relacionando espacialmente

### Tratando refugo não localizado