## Georeferenciando Alvarás

### Acessando os dados de Alvará

In [67]:
import pandas as pd

time: 1.21 ms

In [68]:
import glob
import numpy as np

time: 673 µs

In [69]:
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 1.08 ms

In [70]:
df_alv = pd.read_csv('data/anual2018dezembro.csv', encoding='latin1', sep=';', decimal=",")

time: 32.5 ms

In [71]:
## Abre o CSV normalizado
import csv
colunas = {}

with open('resultados/colunas_planilhas_normalizada.csv', newline='') as f:
    reader = csv.reader(f, delimiter=';')
    data = list(reader)

## carrega em um Dicionário de nome de arquivo, contendo as colunas
# [colunas[l[0]] = l[1:] for l in data]

for l in data:
    colunas[l[0]] = l[1:]

colunas

{'data/anual2004.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2008.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2012.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2016.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2003.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Categoria de uso 1',
  'Categoria de uso 2',
  'Categoria de uso 3',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Área do terreno',
  'Remover: AREAEXIST',
  'Remover: AREAAAUM',
  'Remover: AREADIM',
  'Remover: AREAMODI',
  'Remover: AREAAUTO',
  'Proprietário',
  'Endereço',
  'Endereço 1',
  'Endereço 2',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Remover: SEQUENCIA',
  'Processo',
  'Remover: IDENT',
  'Remover: ESPACO',
  'Remover: CODDOCU',
  'Remover: CODADTV',
  'Data autuação'],
 'data/anual2018dezembro.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2010.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2011.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 20',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2017dezembro.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'Data autuação',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2014.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2009.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2007.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2006.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2005.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2015.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2013.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Processo',
  'Descrição',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Zona de uso anterior',
  'Bairro',
  'Área da construção',
  'Proprietário',
  'Área do terreno',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  '(B)locos / (P)avimentos / (U)nidades',
  'Unnamed: 21',
  'Unnamed: 22',
  'Unnamed: 23',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35'],
 'data/anual2002---a-partir-de-abril.csv': ['Mês',
  'Unidade',
  'Subprefeitura',
  'Alvará',
  'Descrição',
  'Tipo de Construção',
  'SQL_Incra',
  'Categoria de uso',
  'Zona de uso atual',
  'Bairro',
  'Área da construção',
  'Unnamed: 11',
  'Proprietário',
  'Área do terreno',
  'Unnamed: 14',
  'Endereço',
  'Aprovação',
  'Dirigente técnico',
  'Responsável pela empresa',
  'Autor do projeto',
  'Responsável pela empresa 1',
  'Blocos',
  'Unidades',
  'Pavimentos',
  'Unnamed: 24',
  'Unnamed: 25',
  'Unnamed: 26',
  'Unnamed: 27',
  'Unnamed: 28',
  'Unnamed: 29',
  'Unnamed: 30',
  'Unnamed: 31',
  'Unnamed: 32',
  'Unnamed: 33',
  'Unnamed: 34',
  'Unnamed: 35']}

time: 10.1 ms

In [72]:
# path = r'C:\DRO\DCL_rawdata_files' # use your path
all_files = glob.glob("data/*.csv")

li = []

for filename in all_files:
    print(filename)
    df = pd.read_csv(filename, encoding='latin1', 
                     sep=';', 
                     decimal=",", 
                     header=None, 
                     names=colunas[filename],
                     skiprows=[0])
#     li.append({"arquivo": filename,
#                "headers": list(df.columns)})
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

data/anual2004.csv
data/anual2008.csv
data/anual2012.csv
data/anual2016.csv
data/anual2003.csv
data/anual2018dezembro.csv
data/anual2010.csv
data/anual2011.csv
data/anual2017dezembro.csv
data/anual2014.csv
data/anual2009.csv
data/anual2007.csv
data/anual2006.csv
data/anual2005.csv
data/anual2015.csv
data/anual2013.csv
data/anual2002---a-partir-de-abril.csv
time: 398 ms

In [73]:
frame = pd.concat(li, axis=0, ignore_index=True)

time: 55.9 ms

In [74]:
frame.drop(columns=list(frame.loc[:, frame.columns.str.startswith('Remover:')]), inplace=True)

time: 40.3 ms

In [75]:
frame.drop(columns=list(frame.loc[:, frame.columns.str.startswith('Unnamed:')]), inplace=True)

time: 15.9 ms

In [76]:
df_alv = frame

## TODO --> Entender cada campo em cada ano de CSV :(

time: 1.67 ms

In [77]:
df_alv.columns

Index(['Mês', 'Unidade', 'Subprefeitura', 'Alvará', 'Descrição',
       'Tipo de Construção', 'SQL_Incra', 'Categoria de uso',
       'Zona de uso atual', 'Bairro', 'Área da construção', 'Proprietário',
       'Área do terreno', 'Endereço', 'Aprovação', 'Dirigente técnico',
       'Responsável pela empresa', 'Autor do projeto',
       'Responsável pela empresa 1', 'Blocos', 'Unidades', 'Pavimentos',
       'Processo', 'Zona de uso anterior',
       '(B)locos / (P)avimentos / (U)nidades', 'Data autuação',
       'Categoria de uso 1', 'Categoria de uso 2', 'Categoria de uso 3',
       'Endereço 1', 'Endereço 2'],
      dtype='object')

time: 2.45 ms

In [78]:
df_alv.SQL_Incra.unique()

array(['00.055.114.0001-7', '00.230.133.0004-1', '00.230.133.0001-7', ...,
       '00.047.175.0012-1', '00.037.083.0584-1', '1542629999999'],
      dtype=object)

time: 7.42 ms

In [79]:
df_alv.drop(columns=['Mês'], inplace=True)

time: 13 ms

In [80]:
df_alv['Data autuação'] = pd.to_datetime(df_alv['Data autuação'], format='%d/%m/%Y', errors='coerce')

time: 24.2 ms

In [81]:
df_alv['Endereço'] = df_alv['Endereço'].str.cat([df_alv['Endereço 1'], df_alv['Endereço 2']], sep=' ', na_rep='')

time: 40.9 ms

In [82]:
df_alv.drop(columns=['Endereço 2', 'Endereço 1'], inplace=True)

time: 8.1 ms

In [83]:
df_alv['Responsável pela empresa'] = df_alv['Responsável pela empresa'].str.cat(df_alv['Responsável pela empresa 1'], sep=' / ', na_rep='')

time: 9.05 ms

In [84]:
df_alv.drop(columns=['Responsável pela empresa 1'], inplace=True)

time: 8.66 ms

In [85]:
df_alv['Categoria de uso'] = df_alv['Categoria de uso'].str.cat([df_alv['Categoria de uso 1'], df_alv['Categoria de uso 2'], df_alv['Categoria de uso 3']], sep=' / ', na_rep='')

time: 21.8 ms

In [86]:
df_alv.drop(columns=['Categoria de uso 1', 'Categoria de uso 2', 'Categoria de uso 3'], inplace=True)

time: 9.26 ms

In [87]:
df_alv.columns

Index(['Unidade', 'Subprefeitura', 'Alvará', 'Descrição', 'Tipo de Construção',
       'SQL_Incra', 'Categoria de uso', 'Zona de uso atual', 'Bairro',
       'Área da construção', 'Proprietário', 'Área do terreno', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Blocos', 'Unidades', 'Pavimentos', 'Processo',
       'Zona de uso anterior', '(B)locos / (P)avimentos / (U)nidades',
       'Data autuação'],
      dtype='object')

time: 1.63 ms

In [88]:
# df_alv.loc[df_alv.SQL_Incra == '059.268.0042-0']

time: 274 µs

### Tratando e limpando dados

In [89]:
df_alv = df_alv.dropna(thresh=10)

time: 44.3 ms

In [90]:
df_alv.columns

Index(['Unidade', 'Subprefeitura', 'Alvará', 'Descrição', 'Tipo de Construção',
       'SQL_Incra', 'Categoria de uso', 'Zona de uso atual', 'Bairro',
       'Área da construção', 'Proprietário', 'Área do terreno', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Blocos', 'Unidades', 'Pavimentos', 'Processo',
       'Zona de uso anterior', '(B)locos / (P)avimentos / (U)nidades',
       'Data autuação'],
      dtype='object')

time: 1.65 ms

In [91]:
df_alv.loc[:, ['Área da construção']] = pd.to_numeric(df_alv[df_alv['Área da construção']
                                                               .notna()]['Área da construção']
                                                        .str.replace('.', '')
                                                        .str.replace(',', '.'))

df_alv.loc[:, ['Área do terreno']] = pd.to_numeric(df_alv[df_alv['Área do terreno']
                                                               .notna()]['Área do terreno']
                                                        .str.replace('.', '')
                                                        .str.replace(',', '.'))

time: 102 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [92]:
# df_alv.drop(['Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'], axis=1, inplace=True)

time: 350 µs

In [93]:
## Converte registros com 11 caracteres para formato S.Q.L
df_alv.update(df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[0:3] + '.' + 
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[3:6] + '.' + 
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[6:10] + '-' +
df_alv[df_alv.SQL_Incra.str.len() == 11]['SQL_Incra'].str[10])

time: 154 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/pandas/core/frame.py:5732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = expressions.where(mask, this, that)

In [94]:
df_alv.columns

Index(['Unidade', 'Subprefeitura', 'Alvará', 'Descrição', 'Tipo de Construção',
       'SQL_Incra', 'Categoria de uso', 'Zona de uso atual', 'Bairro',
       'Área da construção', 'Proprietário', 'Área do terreno', 'Endereço',
       'Aprovação', 'Dirigente técnico', 'Responsável pela empresa',
       'Autor do projeto', 'Blocos', 'Unidades', 'Pavimentos', 'Processo',
       'Zona de uso anterior', '(B)locos / (P)avimentos / (U)nidades',
       'Data autuação'],
      dtype='object')

time: 1.69 ms

In [95]:
df_alv[df_alv.SQL_Incra.isna()]['Endereço']

8429          AV  INTERLAGOS 05937
8430          R   DOMINGOS VEGA 47
8431     AV  TERESA CRISTINA 00210
8432           AV  ITAQUERA 001968
8433       AV  LUIS STAMATIS 00656
                     ...
12499     ES  DO CAMPO LIMPO 00288
12500      R   PADRE ADELINO 99999
12501       R   PURPURINA 00396 400
12502           R   HARMONIA 01250
12503            AL  SANTOS 001165
Name: Endereço, Length: 4075, dtype: object

time: 5.29 ms

In [96]:
df_alv.loc[:, ['SQL_Incra']] = df_alv['SQL_Incra'].fillna('')

time: 6.09 ms

### Verificando SQLs condominiais com o IPTU

In [97]:
df_alv[df_alv.SQL_Incra.str.match(pat = '(\d{3}.){2}\d{4}-\d')]

,Unidade,Subprefeitura,Alvará,Descrição,Tipo de Construção,SQL_Incra,Categoria de uso,Zona de uso atual,Bairro,Área da construção,...,Dirigente técnico,Responsável pela empresa,Autor do projeto,Blocos,Unidades,Pavimentos,Processo,Zona de uso anterior,(B)locos / (P)avimentos / (U)nidades,Data autuação
4272,SEHAB/APROV/G,ARICANDUVA/ FORMOSA/ CARRAO,2011.16.116-01,APOSTILAMENTO DE ALVARA DE EXECUCAO DE EDIFICA...,NaN,116.402.0004-4,H.M.P / / /,ZM-3A,VL. FORMOSA,NaN,...,FERNANDO ALBERTO POZETTI,/,RUI KIYOSHI ISHIKAWA,NaN,NaN,NaN,NaN,Z2.,NaN,NaT
4273,SEHAB/APROV/G,ARICANDUVA/ FORMOSA/ CARRAO,2011.52.080-01,APOSTILAMENTO DE ALVARA DE APROVACAO DE EDIFIC...,NaN,054.158.0014-1,H.M.P / / /,ZM-3A,VILA FORMOSA,8417.91,...,NaN,/,NaN,NaN,NaN,NaN,NaN,Z2.,B: 1 P: 19 U: 72,NaT
4274,SEHAB/APROV/G,BUTANTA,2009.43.232-01,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,NaN,159.088.0166-5,HIS / / /,ZM-P/002,BUTANTA,17.14,...,NaN,/,NaN,NaN,NaN,NaN,NaN,Z2.,B: 1 P: 1 U: 0,NaT
4275,SEHAB/APROV/G,BUTANTA,2010.30.871-01,APOSTILAMENTO DE ALVARA DE EXECUCAO DE EDIFICA...,NaN,101.557.0154-0,H.M.P / / /,ZM-2/004,RIO PEQUENO,NaN,...,FABIO BUZANIN DE MIRANDA,/,NaN,NaN,NaN,NaN,NaN,,NaN,NaT
4276,SEHAB/APROV/G,BUTANTA,2010.30.871-02,APOSTILAMENTO DE ALVARA DE EXECUCAO DE EDIFICA...,NaN,101.557.0154-0,H.M.P / / /,ZM-2/004,RIO PEQUENO,NaN,...,NaN,/,NaN,NaN,NaN,NaN,NaN,,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53745,SGM/AJ,PERUS,2013.32.379-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,187.046.0034-6,R; C1 / / /,NaN,PERUS,NaN,...,MARIO ALEXANDER STEINHAUSER,/,NaN,NaN,NaN,NaN,2003-1.039.534-4,Z9-045.,NaN,NaT
53746,SGM/AJ,SE,2013.31.386-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,019.046.0012-3,C2.3 / / /,NaN,BOM RETIRO,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.039.766-5,,NaN,NaT
53747,SGM/AJ,SE,2013.31.937-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,009.035.0010-8,C1.2; S1.1 / / /,NaN,BELA VISTA,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.009.227-9,Z10-001.,NaN,NaT
53748,SGM/AJ,SE,2013.33.074-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,001.020.0006-9,C2.2 / / /,NaN,SANTA EFIGENIA,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.002.595-4,Z2.,NaN,NaT
53749,SGM/AJ,VILA MARIANA,2013.33.733-00,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,NaN,037.099.0044-1,S2.1 / / /,NaN,VILA MARIANA,NaN,...,NaN,/,NaN,NaN,NaN,NaN,2003-1.016.932-8,Z2.,NaN,NaT

time: 72.2 ms

In [98]:
match_00 = df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-\d')

time: 35.9 ms

In [99]:
df_alv.loc[match_00, ['SQL_Incra']] = df_alv[match_00]['SQL_Incra'].str[3:]

time: 20.9 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [100]:
match_00 = df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-')

time: 35.8 ms

In [101]:
df_alv.loc[match_00, ['SQL_Incra']] = df_alv[match_00]['SQL_Incra'].str[3:]+'0'

time: 5.34 ms

In [102]:
# df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-\d').value_counts()
# df_alv['SQL_Incra'] = df_alv[df_alv.SQL_Incra.str.match(pat = '\d{2}.(\d{3}.){2}\d{4}-\d')].SQL_Incra.str[3:]

time: 571 µs

In [103]:
# verificando padrão de S.Q.L-digito
df_alv['sql'] = df_alv[df_alv.SQL_Incra.str.match(pat = '(\d{3}.){2}\d{4}-\d')].SQL_Incra.str.replace('.', '').str[0:10]

time: 69.7 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [104]:
df_alv['SQL_Incra']

0        055.114.0001-7
1        230.133.0004-1
2        230.133.0001-7
3        066.587.0027-3
4        031.096.0035-8
              ...
56178    069.022.0009-2
56179    047.175.0012-1
56180    047.175.0012-1
56181    037.083.0584-1
56182     1542629999999
Name: SQL_Incra, Length: 55476, dtype: object

time: 3.67 ms

In [105]:
df_alv.sql.notna().value_counts()

True     49786
False     5690
Name: sql, dtype: int64

time: 8.53 ms

In [106]:
len(df_alv.sql.unique())

27066

time: 7.42 ms

In [107]:
df_iptu = pd.read_csv('data/IPTU_2020.zip', sep=';',  encoding='latin1')

time: 16.6 s

In [108]:
df_iptu['sql'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:10].astype(str)

time: 1.06 s

In [109]:
df_iptu['sqlc'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:10].astype(str) + df_iptu['NUMERO DO CONDOMINIO'].str[0:2].astype(str)

time: 2.23 s

In [110]:
df_iptu['sqlc_resultante'] = df_iptu.sqlc.apply(lambda x: x if x[10:12] == '00' else x[0:6] + '0000' + x[10:12])

time: 973 ms

In [111]:
df_iptu.columns

Index(['NUMERO DO CONTRIBUINTE', 'ANO DO EXERCICIO', 'NUMERO DA NL',
       'DATA DO CADASTRAMENTO', 'TIPO DE CONTRIBUINTE 1',
       'CPF/CNPJ DO CONTRIBUINTE 1', 'NOME DO CONTRIBUINTE 1',
       'TIPO DE CONTRIBUINTE 2', 'CPF/CNPJ DO CONTRIBUINTE 2',
       'NOME DO CONTRIBUINTE 2', 'NUMERO DO CONDOMINIO', 'CODLOG DO IMOVEL',
       'NOME DE LOGRADOURO DO IMOVEL', 'NUMERO DO IMOVEL',
       'COMPLEMENTO DO IMOVEL', 'BAIRRO DO IMOVEL', 'REFERENCIA DO IMOVEL',
       'CEP DO IMOVEL', 'QUANTIDADE DE ESQUINAS/FRENTES', 'FRACAO IDEAL',
       'AREA DO TERRENO', 'AREA CONSTRUIDA', 'AREA OCUPADA',
       'VALOR DO M2 DO TERRENO', 'VALOR DO M2 DE CONSTRUCAO',
       'ANO DA CONSTRUCAO CORRIGIDO', 'QUANTIDADE DE PAVIMENTOS',
       'TESTADA PARA CALCULO', 'TIPO DE USO DO IMOVEL',
       'TIPO DE PADRAO DA CONSTRUCAO', 'TIPO DE TERRENO',
       'FATOR DE OBSOLESCENCIA', 'ANO DE INICIO DA VIDA DO CONTRIBUINTE',
       'MES DE INICIO DA VIDA DO CONTRIBUINTE', 'FASE DO CONTRIBUINTE', 'sql',
       'sqlc', 'sqlc_resultante'],
      dtype='object')

time: 1.74 ms

In [112]:
df_alv['sql'].isin(df_iptu.sql).value_counts()
# df_iptu['sql']

False    27799
True     27677
Name: sql, dtype: int64

time: 1.07 s

In [113]:
len(df_alv['sql'].unique())

27066

time: 5.52 ms

In [114]:
len(df_alv[df_alv.sql.isin(df_iptu.sql)].sql.unique())

15783

time: 986 ms

In [115]:
df_alv.sql.isna().value_counts()

False    49786
True      5690
Name: sql, dtype: int64

time: 6.38 ms

In [116]:
df_alv[df_alv.sql.isna()][['Endereço', 'Bairro']]

                                 Endereço      Bairro
82              R AGRIMENSOR SUGAYA,968           NaN
191    AV RAIMUNDO PEREIRA DE MAGALHAES           NaN
680                  ES DO PESSEGO,1635           NaN
706                 AV DA LIBERDADE,103     LIBERDADE
908        ES TURISTICA DO JARAGUA,2400       JARAGUA
...                                   ...         ...
55097               R RAPOSO DA FONSECA    GUAIANAZES
55127                    ES DO IGUATEMI    GUAIANAZES
55403                 R INACIO MONTEIRO    GUAIANASES
55663                  R SAO GABRIEL,43           NaN
56182              R POEMA DAS AMERICAS           NaN

[5690 rows x 2 columns]

time: 11.3 ms

In [117]:
(df_iptu[df_iptu.sql.isin(df_alv.sql)]['NUMERO DO CONDOMINIO'] != '00-0').value_counts()
# df_iptu.columns

False    13691
True      2092
Name: NUMERO DO CONDOMINIO, dtype: int64

time: 1.68 s

In [139]:
df_iptu[df_iptu.sql == '0551140032']

,NUMERO DO CONTRIBUINTE,ANO DO EXERCICIO,NUMERO DA NL,DATA DO CADASTRAMENTO,TIPO DE CONTRIBUINTE 1,CPF/CNPJ DO CONTRIBUINTE 1,NOME DO CONTRIBUINTE 1,TIPO DE CONTRIBUINTE 2,CPF/CNPJ DO CONTRIBUINTE 2,NOME DO CONTRIBUINTE 2,...,TIPO DE USO DO IMOVEL,TIPO DE PADRAO DA CONSTRUCAO,TIPO DE TERRENO,FATOR DE OBSOLESCENCIA,ANO DE INICIO DA VIDA DO CONTRIBUINTE,MES DE INICIO DA VIDA DO CONTRIBUINTE,FASE DO CONTRIBUINTE,sql,sqlc,sqlc_resultante
1127484,0551140032-7,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX0018XXXX,MARCELO MANOEL MACHADO,NaN,,NaN,...,Apartamento em condomínio,Residencial vertical - padrão C,De esquina,"0,70",1991,1,0,0551140032,055114003201,055114000001

time: 190 ms

In [142]:
df_alv['sqlc'] = df_alv.merge(df_iptu, how='left', on='sql').sqlc_resultante
df_alv.merge(df_iptu, how='left', on='sql').sqlc_resultante

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0                 NaN
1                 NaN
2                 NaN
3        066587002700
4        031096003500
             ...
55471             NaN
55472             NaN
55473             NaN
55474             NaN
55475             NaN
Name: sqlc_resultante, Length: 55476, dtype: object

time: 8.73 s

In [144]:
df_alv[df_alv.sql == '0551140001']

0        0551140001
372      0551140001
41815    0551140001
Name: sql, dtype: object

time: 23.3 ms

In [145]:
df_iptu.sql.isna().value_counts()

False    3498644
Name: sql, dtype: int64

time: 158 ms

In [130]:
df_alv.sqlc.notna().value_counts()

False    28504
True     26972
Name: sqlc, dtype: int64

time: 27.7 ms

In [131]:
df_alv['setor'] = df_alv.sql.str[0:3]

time: 41.1 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [132]:
df_alv['quadra'] = df_alv.sql.str[3:6]

time: 34.6 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [133]:
df_alv['lote'] = df_alv.sqlc.str[-6:-2]

time: 33.3 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [134]:
df_alv['condominio'] = df_alv.sqlc.str[-2:]

time: 37.4 ms

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [135]:
df_alv[(df_alv.setor == '055') & (df_alv.quadra == '114')]

,Unidade,Subprefeitura,Alvará,Descrição,Tipo de Construção,SQL_Incra,Categoria de uso,Zona de uso atual,Bairro,Área da construção,...,Processo,Zona de uso anterior,(B)locos / (P)avimentos / (U)nidades,Data autuação,sql,sqlc,setor,quadra,lote,condominio
0,APROV G,ARICANDUVA / VILA FORMOSA,2004.02.459-00,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,PREDIO RESIDENCIAL,055.114.0001-7,R202 / / /,Z3-130,NaN,1422492.0,...,NaN,NaN,NaN,NaT,0551140001,066587002700,055,114,0027,00
372,APROV 1,ARICANDUVA / VILA FORMOSA,2004.02.459-01,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,PREDIO RESIDENCIAL,055.114.0001-7,R202 / / /,Z3-130,VILA CARRAO,1422492.0,...,NaN,NaN,NaN,NaT,0551140001,299116000007,055,114,0000,07
41815,APROV 1,ARICANDUVA / VILA FORMOSA,2004.02.459-02,PROJETO MODIFICATIVO DE ALVARA DE APROVACAO E ...,PREDIO RESIDENCIAL,055.114.0001-7,R301 / / /,Z3-130,VILA CARRAO,1468787.0,...,NaN,NaN,NaN,NaT,0551140001,NaN,055,114,NaN,NaN

time: 43.1 ms

In [136]:
df_alv[df_alv.sqlc.notna()]

,Unidade,Subprefeitura,Alvará,Descrição,Tipo de Construção,SQL_Incra,Categoria de uso,Zona de uso atual,Bairro,Área da construção,...,Processo,Zona de uso anterior,(B)locos / (P)avimentos / (U)nidades,Data autuação,sql,sqlc,setor,quadra,lote,condominio
0,APROV G,ARICANDUVA / VILA FORMOSA,2004.02.459-00,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,PREDIO RESIDENCIAL,055.114.0001-7,R202 / / /,Z3-130,NaN,1422492.0,...,NaN,NaN,NaN,NaT,0551140001,066587002700,055,114,0027,00
1,APROV G,ITAQUERA,2004.01.964-00,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,HAB. INTERESSE SOCIAL,230.133.0004-1,HIS / / /,NaN,NaN,917472.0,...,NaN,NaN,NaN,NaT,2301330004,031096003500,230,133,0035,00
2,APROV G,ITAQUERA,2004.02.457-00,ALVARA DE APROVACAO E EXECUCAO DE EDIFICACAO NOVA,HAB. INTERESSE SOCIAL,230.133.0001-7,HIS / / /,NaN,NaN,917472.0,...,NaN,NaN,NaN,NaT,2301330001,058132001000,230,133,0010,00
3,APROV G,JACANA / TREMEMBE,2004.02.451-00,RECONSIDERACAO DE DESPACHO DE AUTO DE REGULARI...,PREDIO RESIDENCIAL,066.587.0027-3,R / / /,Z2,NaN,27745.0,...,NaN,NaN,NaN,NaT,0665870027,299002008700,066,587,0087,00
4,APROV G,MOOCA,2004.02.453-00,RECONSIDERACAO DE DESPACHO DE AUTO DE REGULARI...,PREDIO SERVICO,031.096.0035-8,S2.8 / / /,Z2,NaN,33547.0,...,NaN,NaN,NaN,NaT,0310960035,085053000200,031,096,0002,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27672,SMUL/SEGUR-4,IPIRANGA,2007.07.318-05,REVALIDACAO DE ALVARA DE FUNCIONAMENTO DE EQUI...,NaN,046.061.0024-9,NR2-03 / / /,ZM,CURSINO,NaN,...,2016-0.277.442-7,ZONA MISTA DE ALTA DENSIDADE - B.,NaN,2016-12-22,0460610024,049467007000,046,061,0070,00
27673,SMUL/SEGUR-4,IPIRANGA,2010.15.916-03,REVALIDACAO DE ALVARA DE FUNCIONAMENTO DE EQUI...,NaN,040.131.0001-0,NR2-03 / / /,ZM-3B/002,IPIRANGA,NaN,...,2016-0.163.006-5,Z3-169.,NaN,2016-07-19,0401310001,134495003800,040,131,0038,00
27674,SMUL/SEGUR-4,IPIRANGA,2016.00.468-01,REVALIDACAO DE ALVARA DE FUNCIONAMENTO DE EQUI...,NaN,040.176.0047-6,NR2-03 / / /,ZCL-A/003 LINDEIRA A ZM-2,IPIRANGA,NaN,...,2017-0.047.045-7,Z2.,NaN,2017-03-21,0401760047,060082002900,040,176,0029,00
27675,SMUL/SEGUR-4,IPIRANGA,2017.13.988-00,ALVARA DE FUNCIONAMENTO DE EQUIPAMENTO,NaN,048.071.0057-2,NR2 / / /,ZCLP/001 LINDEIRA A ZER-1,IPIRANGA,NaN,...,2016-0.234.543-7,Z2.,NaN,2016-10-18,0480710057,013041015400,048,071,0154,00
27676,SMUL/SEGUR-4,ITAIM PAULISTA,2015.27.364-01,REVALIDACAO DE ALVARA DE FUNCIONAMENTO DE EQUI...,NaN,134.039.0057-5,NR2-03 / / /,ZM-2/002,VL CURUCA,NaN,...,2017-0.044.680-7,Z2.,NaN,2017-03-16,1340390057,085150005900,134,039,0059,00

time: 67.8 ms

In [ ]:
df_alv[df_alv.lote == '0000']

### Convertendo em GeoDataframe

In [ ]:
df_alv

In [ ]:
df_alv.to_csv('resultados/resulatado-parcial-01.csv')

In [ ]:
df_alv.dtypes

### Relacionando espacialmente

In [ ]:
from owslib.wfs import WebFeatureService
from owslib.csw import CatalogueServiceWeb
import json
import geopandas as gpd
from shapely.geometry import shape
from urllib.parse import quote

In [ ]:
url_wfs = 'http://wfs.geosampa.prefeitura.sp.gov.br/geoserver/geoportal/wfs'

wfs = WebFeatureService(url_wfs, version='2.0.0')

In [ ]:
# list(wfs.operations)
# wfs.contents

In [ ]:
response = wfs.getfeature(typename="geoportal:quadra_fiscal", 
                          outputFormat='application/json')

In [ ]:
quadras_fiscais = json.loads(response.read())

In [ ]:
len(quadras_fiscais['features'])

In [ ]:
response = wfs.getfeature(typename="geoportal:lote", 
                          outputFormat='application/json')

In [ ]:
sqls_s = list(df_alv[df_alv.sql.notna()].sql.unique())

In [ ]:
sqls = [(s[0:3], s[3:6], s[6:10]) for s in sqls_s]

In [ ]:
sqls

In [ ]:
n = 500  #chunk row size
sql_chunk = [sqls[i:i+n] for i in range(0, len(sqls), n)]

In [ ]:
len(sql_chunk)

In [ ]:
cql_string = ' OR '.join([f"(cd_setor_fiscal='{s[0]}' and cd_quadra_fiscal='{s[1]}' and cd_lote='{s[2]}')" for s in sqls])

In [ ]:
# cql_string

### Tratando refugo não localizado