# Primeiros contatos com os dados obtidos

In [1]:
import pandas as pd

In [6]:
df_alv = pd.read_csv('data/anual2018dezembro.csv', encoding='latin1', sep=';')

In [32]:
df_alv.loc[df_alv.SQL_Incra.str.len() != 14.][['SQL_Incra', 'Endereço']]

          SQL_Incra                                           Endereço
16    6383580159204                 AV  RAIMUNDO P.DE MAGALHAES 16470
78    6383580106690                  AV    JOAQUIM NAPOLEAO MACHADO 0
279     50229999999                                       PC  DA SE 0
280    171059999999  R   COMENDADOR NESTOR PEREIRA 33 PORTUGUESA DE...
281     14700100019             AV  ARICANDUVA 5555 SHOP. ARICANDUVA /
...             ...                                                ...
5209            NaN                                                NaN
5210            NaN                                                NaN
5211            NaN                                                NaN
5212            NaN                                                NaN
5213            NaN                                                NaN

[849 rows x 2 columns]

In [22]:
df_alv.columns

Index(['Mês ', 'Unidade', 'Subprefeitura', 'Alvará', 'Processo', 'Descrição',
       'Data autuação', 'SQL_Incra', 'Categoria de uso', 'Zona de uso atual',
       'Zona de uso anterior', 'Bairro', 'Área da construção (m²)',
       'Proprietário', 'Área do terreno (m²)', 'Endereço', 'Aprovação',
       'Dirigente técnico', 'Responsável pela empresa', 'Autor do projeto',
       'Responsável pela empresa.1',
       '(B)locos / \n(P)avimentos / \n(U)nidades', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24'],
      dtype='object')

In [34]:
df_alv.loc[df_alv.SQL_Incra == '7777777777777'][['SQL_Incra', 'Endereço']]

          SQL_Incra                          Endereço
3515  7777777777777  RV  DOS BANDEIRANTES 000 KM 24,7

In [47]:
df_alv[df_alv.SQL_Incra.str.match(pat = '(\d{3}.){2}\d{4}-\d').notna()]

,Mês,Unidade,Subprefeitura,Alvará,Processo,Descrição,Data autuação,SQL_Incra,Categoria de uso,Zona de uso atual,...,Endereço,Aprovação,Dirigente técnico,Responsável pela empresa,Autor do projeto,Responsável pela empresa.1,(B)locos / \n(P)avimentos / \n(U)nidades,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Janeiro,SGM/AJ,PENHA,2018.01.369-00,2004-1.010.334-5,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,15/12/2004,059.268.0042-0,R,NaN,...,R SAIVA 00305,30/01/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Janeiro,SGM/AJ,PINHEIROS,2018.00.491-00,2003-1.037.949-7,RECONSIDERACAO DO DESPACHO DE AUTO DE REGULARI...,22/10/2003,299.133.0004-3,R; E1; S1; C1,NaN,...,R CHILON 00060,12/01/2018,AIDA MARTINS CASIMIRO VARUZZI,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Janeiro,SMUL,CAMPO LIMPO,2018.00.889-00,2014-0.176.365-7,RECONSIDERACAO DE DESPACHO DE ALVARA DE APROVA...,27/06/2014,169.269.0009-3,EHMP,ZEUP,...,ES VELHA DE ITAPECERICA 00019,19/01/2018,HERCY MARTINS COSTA,NaN,MARCELO AUGUSTO FERNANDES BARTOLO,NaN,B: 1 P: 16 U: 187; B: 1 P: 2 U: 0,NaN,NaN,NaN
3,Janeiro,SMUL,SANTANA/ TUCURUVI,2018.00.553-00,2002-0.249.324-1,RECONSIDERACAO DE DESPACHO DE ALVARA DE EXECUC...,22/10/2002,067.225.0104-3,R202,ZCP-B/008 / EETU,...,AV GUAPIRA 291,12/01/2018,ALEXANDRE MENDONCA MILLEU,NaN,ALEXANDRE MENDONCA MILLEU,NaN,NaN,NaN,NaN,NaN
4,Janeiro,SMUL/ASSEC-CEUSO,CIDADE ADEMAR,2018.01.426-00,2013-0.031.633-7,RECONSIDERACAO DE DESPACHO DE CERTIFICADO DE R...,01/02/2013,120.158.0055-6,NR3,ZCP-A/005,...,R HORACIO ALVES DA COSTA 00051,31/01/2018,ARLINDO GOMES NETO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4511,Dezembro,SMUL/SERVIN/DSIMP,SE,2014.16.559-02,2018-0.115.725-8,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,21/11/2018,004.067.0186-5,NR3,ZM-3B/003,...,"R JUSTO AZAMBUJA 000121 185, 229",18/12/2018,ALESSANDRA DI GIOIA VIANNA,NaN,ALESSANDRA DI GIOIA VIANNA,NaN,B: 1 P: 6 U: 0; B: 1 P: 4 U: 0; B: 1 P: 4 U: 0...,NaN,NaN,NaN
4512,Dezembro,SMUL/SERVIN/DSIMP,SE,2018.22.128-00,2017-0.145.422-6,CERTIFICADO DE REGULARIZACAO,19/09/2017,007.036.0164-4,NR2,ZEM,...,R JESUINO PASCOAL 00121,17/12/2018,NaN,NaN,LAURY MONTEIRO VALENTE,NaN,NaN,NaN,NaN,NaN
4513,Dezembro,SMUL/SERVIN/DSIMP,SE,2018.22.510-00,2015-0.241.586-7,ALVARA DE APROVACAO DE REFORMA,11/09/2015,033.015.1589-4,NR1; NR2; NR3,ZEU,...,R VERGUEIRO 000235,26/12/2018,RICARDO DA SILVA BERNABE,NaN,RICARDO DA SILVA BERNABE,NaN,B: 1 P: 14 U: 0; B: 1 P: 1 U: 0; B: 1 P: 1 U: 0,NaN,NaN,NaN
4514,Dezembro,SMUL/SERVIN/DSIMP,VILA MARIANA,2018.19.141-01,2010-0.329.354-5,APOSTILAMENTO DE ALVARA DE APROVACAO E EXECUCA...,01/12/2010,037.083.0600-7,NR3,ZM-3A/007,...,R CORONEL LISBOA 000139,20/12/2018,ADRIANA BLAY LEVISKY,NaN,ADRIANA BLAY LEVISKY,NaN,NaN,NaN,NaN,NaN
4515,Dezembro,SMUL/SERVIN/DSIMP,VILA MARIANA,2018.22.347-00,2016-0.273.268-6,ALVARA DE APROVACAO E EXECUCAO DE REFORMA,16/12/2016,038.051.0042-6,NR1-06,ZEU / EETU,...,R VERGUEIRO 001883,20/12/2018,FRED OSSAMU SATO,NaN,CLAUDIA BASSICHETTO,NaN,B: 1 P: 11 U: 0,NaN,NaN,NaN

In [38]:
df_alv.SQL_Incra.head(4)

0    059.268.0042-0
1    299.133.0004-3
2    169.269.0009-3
3    067.225.0104-3
Name: SQL_Incra, dtype: object

In [49]:
n = 500  #chunk row size
list_df = [df_alv[i:i+n] for i in range(0, df_alv.shape[0], n)]

In [62]:
len(list_df)

11